nav.ch-g1-5
	.ch-rightcolumn
		h4 UI Widgets
		ul
			- var total = 5;
			- each item in widgets
				- if (total > 0 && item.label !== ".DS_Store")
					- total -= 1;
					li
						a(href="#{item.href}")= item.label
			li
				a.more(href="/widgets") See all widgets

	.ch-rightcolumn
		h4 Chico Mesh
		ul
			li
				a(href="/mesh") Overview and Showroom
			li
				a(href="/guides/mesh-your-layout-in-5-min") Mesh your layout in 5 min

	.ch-rightcolumn
		h4 Learning guides
		ul
			- var total = 5;
			- each item in guides
				- if (total > 0 && item.label !== ".DS_Store" && item.label !== "Get started" && item.label !== "Mesh your layout in 5 min")
					- total -= 1;
					li
						a(href="#{item.href}")= item.label
			li
				a.more(href="/guides") Browse all guides