h3#configuration Configuration
p
	| Any widget can be configurated through parameters writted in 
	a(href="http://json.org/", target="_blank") JSON
	| . Here is an example:
pre
	|var foo = $("#example").#{instanceLabel}({
	| 	"bar": foobar,
	| 	"baz": quux
	| });
p
	| You can see the complete list of parameters in 
	a(href="/api/#{latest.version}/symbols/ch.#{label}.html#detail") #{label} API documentation
	| .