footer
	nav.ch-g2-3
		ul
			li= "©" + (new Date().getFullYear()) + " MercadoLibre.com"
			li
				a(href="/about") About us
			li
				a(href="/discuss") Discuss

	aside.ch-g1-3
		<g:plusone size="medium" href="http://chico-ui.com.ar"></g:plusone>
		a.twitter-share-button(href="http://twitter.com/share", data-via="chicoui", data-text="Chico UI, MercadoLibre's Open Source Web Tools.", data-url="http://chico-ui.com.ar") Tweet

script(src="/src/js/jquery.js")
script(src="/versions/latest/chico.js")
script(src="/src/js/scripts.js")

- var scriptGet = script("get")
- if (scriptGet.length > 0)
	- for (var i in scriptGet)
		script(src='#{scriptGet[i]}')

- var scriptCode = script("code")
-if (scriptCode.length > 0)
	script!= scriptCode.join("")