script
meta(charset="utf-8")
title #{title}

link(rel="shortcut icon", href="/src/assets/ninja.ico", type="image/vnd.microsoft.icon")
link(rel="author", href="/humans.txt", type="text/plain")

meta(property="og:title", content="Chico UI")
meta(property="og:type", content="product")
meta(property="og:url", content="http://chico-ui.com.ar")
meta(property="og:image", content="http://chico-ui.com.ar/src/assets/ninja.png")
meta(property="og:site_name", content="Chico UI, MercadoLibre&#039;s Open Source Web Tools.")
meta(property="fb:admins", content="100001929271879")

link(rel="stylesheet", href="http://static.mlstatic.com/org-img/ch/ui/1.0.0/chico.min.css")
link(rel="stylesheet", href="http://static.mlstatic.com/org-img/ch/mesh/2.2/mesh.min.css")
link(rel="stylesheet", href="/src/css/v4.css")

script var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-22230214-1"]);_gaq.push(["_setDomainName","chico-ui.com.ar"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.async=true;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})()