.keep-reading.container
	.ch-g1-2
		.leftcolumn
			h2 Keep on reading
			p
				| Read more on our 
				a(href="/api") technical documentation
				| . There you'll find the most complete info of all components.
	.ch-g1-2
		.rightcolumn
			h2 Problems?
			p
				| You can easily report issues like bugs through our 
				a(href="#{common.issuetracker}") issue tracker
				| , or simply write a tweet to 
				a(href="http://twitter.com/chicoui") @chicoui
				| .