nav.ch-g2-3
	ul
		li
			a(href="/blog") Blog
		li
			a(href="/widgets") UI Widgets
		li
			a(href="/api") API Docs
		li
			a(href="/guides") Learning guides
		li
			a(href="/download") Download

	/*form(method="GET", action="/search")
		label(for="query") Search:
		input(type="text", role="search", placeholder="Search this site", id="query")
		noscript
			input.ch-btn.ch-secondary.ch-skin(id="search", type="submit", value="Go")