nav.ch-g2-3
	ul
		li
			a(href="http://blog.chico-ui.com.ar/") Blog
		li
			a(href="http://pazguille.github.io/chico-doc/", rel="external") API Documentation
		li
			a(href="https://github.com/mercadolibre/chico", rel="external") Download on GitHub
		li
			form(action="/search")
				label(for="q") Search:
				input#q(type="search", name="q", placeholder="Search this site")
				noscript
					input.ch-btn-skin.ch-btn-small#search(type="submit", value="Go")