
.ch-g1.section

	.ch-g1-4
		h3 How-to...
		ul.container
			- each item in howtos 
				li
					a(href='#{item.href}') #{item.label}
		h3 Demos
		ul.container
			- each item in demos
				li
					a(href='#{item.href}') #{item.label}

	.ch-g3-4
		h1 How to change the content of a modal window?
		p.container
			| In this tutorial, we'll learn how to change the content of a modal window component easily.

		a#create-modal
		h2 Create a new modal window
		p.container
			| First, we'll have to create our modal window to work on it.
			| You have to store Chico's components in a javascript variable in order to access the public
			a(href='/api/symbols/ch.Modal.html') methods
			|  and 
			a(href='/api/symbols/ch.Modal.html') properties. 
			| In this case, we are storing our modal window in the
			code myModal
			| variable.
		
		p.container
			| The modal will have the next configuration:
		
		pre.code
			| var myModal = $("#modal").modal({
			| 		content:"<p>This is a modal window with static content.</p>"
			| });

		a#change-content
		h2 Is the content boring? Change it!
		p.container
			| We'll change the content using, as setter, the
			code content() 
			| method:
		pre.code myModal.content("New content for myModal, using the content() method.");
			
		p.container
			| See more on 
			a(href='/api/symbols/ch.Modal.html#.content') Modal
			| .
		a#new-content
		h2 New content!
		p.container
			| Now, if we use the method content as getter, it returns:

		pre.code myModal.content(); // returns "New content for myModal, using the content() method."

		p.container This is simple, therefore you can try and change the modal window's content on your projects.

		hr
		a(id='report-a-problem')
		h2 Problems?
		p.container
			| You can easily report problems, like bugs or typos through our 
			a(href='/api/index.html') issue tracker
			| , or simply write a twitt to 
			a(href='http://twitter.com/#!/chicoui') @chicoui
			| .			

.clearfix