h1 Disable and enable validations
p.updated
	| Documentation updated on 
	data December 6th
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#create-your-validations") 1 Create your validations
		dt
			a(href="#disable-a-validation") 2 Disable a Validation
		dt
			a(href="#enable-a-validation") 3 Enable a Validation
		dt
			a(href="#toggle-a-validation") 4 Toggle a Validation

h3#create-your-validations Create your validations
p
	| First, you'll initilize the 
	a(href="/widgets/validation") Validations
	|  that you will use in your project.
p
	| In this case, we'll create a 
	code required
	|  validation.
pre
	| var requiredVal = $(".field-req").required("This field is required.");
p
	| You should store Chico UI's components in a JavaScript variable in order to access the methods and properties.

h3#disable-a-validation Disable a validation
p
	| To disable this Validation, you only must use the 
	code disable
	|  method. Therefore, the next time that you run validation, this Validation will not execute.
pre
	| requiredVal.disable();

h3#enable-a-validation Enable a Validation
p
	| Now, if you want to enable it again, you must use the 
	code enable
	|  method.
pre
	| requiredVal.enable();

h3#toggle-a-validation Toggle a Validation
p
	| If you want to enabled or disabled a validation, you must use the 
	code toggleEnable
	|  method.
pre
	| requiredVal.toggleEnable(); // Now, it's disabled
	| requiredVal.toggleEnable(); // It's enabled again.