h1 Get started

h3#what-is What is Chico UI?
p
    | Chico UI is a free and open source collection of&nbsp;
    em easy-to-use
    |  web tools for developers and designers.
p
    | Built on top of&nbsp;
    a(href="http://jquery.com", target="_blank") jQuery
    | these tools brings known interaction patterns for your website taking advantage of HTML5 and CSS3 features.
p
    | We want to&nbsp;
    a(href="http://github.com/mercadolibre/chico", target="blank") share this tool
    |  with the world to help making the web more beautiful.

h3#install Installing in your site
p
    | Install Chico UI is very easy. Just you have to follow&nbsp;
    a(href="/guides/how-to-install-chico") some simple steps
    | .

h3#docs API documentation
p
    | There is a complete, vast and specific content to customize and use Chico UI.
p
    | You can read about Calendar, Modal, and Forms, but you could start reading&nbsp;
    code ch
    | , the core of Chico UI.&nbsp;
    a(href="http://chico.mercadolibre.com/ui/api/ch.html") Start there!

h3#download-chico Download the library
p
    | You can get the&nbsp;
    a(href="https://github.com/mercadolibre/chico") latest version on GitHub
    | .

h3#who-is-using Who is using Chico UI?
p
    | There are some products using Chico UI on the web:
ul.ch-list
    li
        a(href="http://www.mercadolibre.com", rel="external", target="_blank") MercadoLibre
    li
        a(href="http://www.mercadopago.com", rel="external", target="_blank") MercadoPago
    li
        a(href="http://www.mercadoshops.com", rel="external", target="_blank") MercadoShops
    li
        a(href="http://www.mercadoclics.com", rel="external", target="_blank") MercadoClics