h1 Learning guides
p
	| Get all necessary knowledge about how to use Chico UI to build awesome things for your website.

ul.ch-list.home-list
	- each w in guides
		- if (w.label !== "Home" && w.label !== ".DS_Store")
			li
				a(href="#{w.href}")= w.label