
div.ch-g1.section
	h1 Docs
	.ch-g1-4
		!=partial('partials/demos')

		!=partial('partials/howtos')
					
	.ch-g3-4
		h1 AutoComplete
		div.container
			p
				| The AutoComplete component is a member of the 
				a(href='/api/#{latest.version}/symbols/ch.Navs.html') Navs
				|  family. 
				br
				| It works for input control. It can suggest a list of options like a select control in a form, or it can work as suggester while the user types in a input.
		a(id='demo')
		h2 Demo
		div.box
			form#example_form(action='#',method='get')
				div.autoComplete_Example
					input#autocomplete(type='text',name="autocomplete",placeholder="Search your country i.e. Argentina")
					ul
				input.btn.secondary.skin(type='submit', value='Submit form')
		.snippet
			p Snippet
			div
				pre.code
					|<form action="/" id="example_form" method="get">
					|	<div id="example">
					|		<input type="text" name="autocomplete" placeholder="Search your country i.e. Argentina">
					|		<ul></ul>
					|	</div>
					|	<input type="submit" value="Enviar" class="btn secondary skin">
					|</form>
		
		h2 Like a suggester
		p.container 
			| This is the way to create a AutoComplete as a suggestive:
		pre.code
			| var foo = $("#example").autoComplete({url:"/suggest/"});
		
		h3 Pushing the data
		p.container
			| The component executes the callback that returns you server service. 
			| In the callback function you have to define the 
			code foo.suggest();
			|  . Then, you have to give the data returned from the server to the function as parameter 
			code foo.suggest( SERVER_DATA );
			|  .
		
		pre.code
			| var autoComplete = function( SERVER_DATA ){
			| 
			|     ac.suggest( SERVER_DATA );
			| 
			| }
			
			
		h2 Like a list of options
		p.container 
			| And this is the way to create the AutoComplete as a list of options:
		pre.code
			| var foo = $("#example").autoComplete();
			| 
			|     // As a parameter gives an Array
			|     foo.suggest(["Option 1","Option 2","Option 3"]);
			
			
		p.container
			| Read more about 
			a(href='/api/#{latest.version}/symbols/ch.AutoComplete.html') AutoComplete
			| .			

		
		
		
		
		hr
		.ch-g1-2
			a(id='keep-on-reading')
			h2 Keep on reading
			p.container
				| Read more on our technical documentation, see the 
				a(href='/api/') class index
				| , or see more about AutoComplete in the 
				a(href="/api/#{latest.version}/symbols/ch.AutoComplete.html") AutoComplete
				|  documentation.
		.ch-g1-2
			a(id='report-a-problem')
			h2 Problems?
			p.container
				| You can easily report problems, like bugs or typos through our 
				a(href='/api/') issue tracker
				| , or simply write a twitt to 
				a(href='http://twitter.com/#!/chicoui') @chicoui

.clearfix
- script('var ac = $(".autoComplete_Example").autoComplete({url:"/suggest/"});')
- script('var autoComplete = function(data){ ac.suggest(data); };')
- script('$(".snippet").expando();')