
div.ch-g1.section
	h1 Docs
	.ch-g1-4
		!=partial('partials/demos')

		!=partial('partials/howtos')
					
	.ch-g3-4
		h1 Blink
		div.container
			p
			| Blink is a UI feedback utility. It creates a visual highlight changing 
			code background-color
			|  from 
			code yellow
			|  to 
			code white
			| . 
		a(id='demo')
		h2 Demo
		div.box
			h3 Blink example
			p#example This is a text that you can blink 
			p
				button.btn.secondary.skin#doHighlight Blink the paragraph
				
		.snippet
			p Snippet
			div
				pre.code
					| <p id="example">The element you want to blink.</p>
		
		p.container 
			| This is the way to create a Blink:
		pre.code
			| $("#example").blink();
		
		p.container
			| Read more about 
			a(href='/api/#{latest.version}/symbols/ch.Blink.html') Blink
			| .	
		hr
		.ch-g1-2
			a(id='keep-on-reading')
			h2 Keep on reading
			p.container
				| Read more on our technical documentation, see the 
				a(href='/api/') class index
				| , or see more about forms in the 
				a(href="/api/#{latest.version}/symbols/ch.Blink.html") Blink
				|  documentation.
		.ch-g1-2
			a(id='report-a-problem')
			h2 Problems?
			p.container
				| You can easily report problems, like bugs or typos through our 
				a(href='/api/') issue tracker
				| , or simply write a twitt to 
				a(href='http://twitter.com/#!/chicoui') @chicoui

.clearfix
- script("code", '$("#doHighlight").bind("mousedown",function(){$("#example").blink();});')
- script("code", '$(".snippet").expando();')