
div.ch-g1.section
	h1 Docs
	.ch-g1-4
		!=partial('partials/demos')

		!=partial('partials/howtos')
					
	.ch-g3-4
		h1 Expando
		p.container
			| The Expando component is member of the 
			a(href='/api/#{latest.version}/symbols/ch.Navs.html') Navs
			|  family. It has two parts, a descriptive text (something like a label) and a hidden block with extra information related to the label. The extra information is hidden and the user decide to show it clicking on the label.
		a(id='demo')
		h2 Demo
		.box
			.demo_expando
				p
					strong Lorem ipsum dolor sit amet.
				div
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet purus in sapien luctus sodales. Curabitur dui velit, cursus in sagittis aliquam, dictum at neque. Ut gravida scelerisque lorem non pulvinar.
		.snippet
			p Snippet
			div
				pre.code
					|<div id="example">
					|	<h4>Lorem ipsum dolor sit amet.</h4>
					|	<div>
					|		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet purus in sapien luctus sodales. Curabitur dui velit, cursus in sagittis aliquam, dictum at neque. Ut gravida scelerisque lorem non pulvinar.</p>
					|	</div>
					|</div>
		p.container 
			| This is the way to create a new expando:
		pre.code
			| var foo = $("#example").expando();
		a(id='collapsed-by-default')
		h2 Collapsed by default
		p.container 
			| The default view is collapsed. But, it can change the 
			code open
			|  property that allows you to change the default state. You have to set this property to true.
			
		pre.code
			| var foo = $("#example").expando({open:true});	
		a(id='show-and-hide')	
		h2 Show and Hide
		p.container
			| All Navs expose some public methods called 
			code show()
			|  and 
			code hide()
			| , both allow you to manage the Expando's behavior programmatically. Something like this:
		pre.code
			| foo.show(); // Shows the modal
		p.container 
			| Or 
			code hide()
			|  the Modal, like this:
		pre.code
			| foo.hide(); // Hides the modal
		a(id='callbacks')
		h3 Callbacks
		p.container
			| The component has two callbacks. Each one of those will be executed when the hide or show event is triggered.
		hr
		.ch-g1-2
			a(id='keep-on-reading')
			h2 Keep on reading
			p.container
				| Read more on our technical documentation, see the 
				a(href='/api/') class index
				| , or see more about 
				a(href="/api/#{latest.version}/symbols/ch.Expando.html") Expando
				|  in the documentation.
		.ch-g1-2
			a(id='report-a-problem')
			h2 Problems?
			p.container
				| You can easily report problems, like bugs or typos through our 
				a(href='/api/') issue tracker
				| , or simply write a twitt to 
				a(href='http://twitter.com/#!/chicoui') @chicoui
.clearfix
- script('$(".snippet,.demo_expando").expando();')