
div(class='ch-g1 section')

	.ch-g1-4
		h3 Demos
		ul.container
			- each item in demos
				li
					a(href='#{item.href}') #{item.label}

		h3 How-to...
		ul.container
			- each item in howtos 
				li
					a(href='#{item.href}') #{item.label}
					
	.ch-g3-4
		h1 Modal
		p.container
			| The Modal component is a member of 
			a(href='/api/symbols/ch.Floats.html') Floats
			|  familiy. Gives rich information about an UI element on the screen.
		a(id='demo')
		h2 Demo
		p.container
			| Click over the ninjas image to see a demo:
		p.actions
			img.ninjas(src='/src/assets/ninjas.jpg') 
		.snippet
			p Snippet
			div
				p 
					| Any clickable 
					code HTMLElement
					|  for example:
				pre.code
					| <img id="example" src="/src/assets/ninjas.jpg" alt="Ninjas" />
		p.container 
			| This is the way to create a new Modal:
		pre.code
			| var foo = $("#example").modal("<p>Rich content.</p>");
		p.container
			| As any 
			a(href='/api/symbols/ch.Floats.html') Floats
			|  children, the Modal has a few uses cases you can use to modifiy and manipulate
			| its content and its size..
		a(id='show-and-hide')
		h2 Show and hide
		p.container
			| All 
			a(href='/api/symbols/ch.Floats.html') Floats
			|  exposes some public methods called 
			code show()
			|  and 
			code hide()
			| , both allow you to manage the Modal's behavior programmatically. Something like this:
		pre.code
			| foo.show(); // Shows the modal
		p.container
			| Or
			code hide()
			|  the Modal, like this:
		pre.code
			| foo.hide(); // Hides the modal
		p.container
			| Read more about 
			a(href='/api/symbols/ch.Floats.html') Floats
			| .

		a(id='get-and-set-content')
		h2 Get and set content
		p.container
			| All 
			a(href='/api/symbols/ch.Floats.html') Floats
			|  exposes a public method called 
			code content()
			| , it works as a getter and a setter at the same time. To 
			em get 
			| the content of this component simply use the method without arguments, like this:
		pre.code
			| var content = foo.content(); // Get its content
		p.container
			| To 
			em set 
			| content add an argument to the method  
			code content()
			| , admits static content, DOM content or AJAX content. See an example:
		pre.code
			| foo.content("New content!"); // Set its content
		p.container
			| Read more about 
			a(href='/api/symbols/ch.Object.html#.content') Content
			| .
			
		a(id='changing-size')
		h2 Changing size
		p.container
			| For change the width property to the Modal's container
			| there is a method called 
			code width()
			| , also works as a getter and a setter at the same time. To 
			em get 
			| the property simply use the method without arguments, like this:
		pre.code
			| var width = foo.width(); // Get its width
		p.container
			| To set the property add an argument to the method  
			code width()
			| , admits 
			em Numbers
			|  (33) or 
			em String
			|  ('33px') as a CSS property. See an example:
		pre.code
			| foo.width(300); // Set its width
		p.container
			| Exactly the same thing with the method 
			code heigth()
			| , admits 
			em Numbers
			|  (22) or 
			em String
			| ('22px') as a CSS property. Get example:
		pre.code
			| foo.height(); // Get its height
		p.container
			| Set 
			code height()
			|  examples:
		pre.code
			| foo.height(300); // Set its height
		p.container
			| Read more about 
			a(href='/api/symbols/ch.Floats.html#.size') Sizing
			| .
		hr
		.ch-g1-2
			a(id='keep-on-reading')
			h2 Keep on reading
			p.container
				| Read more on our technical documentation, see the 
				a(href='/api/index.html') class index
				| , or see more about modals in the 
				a(href="/api/symbols/ch.Modal.html") Modal
				|  documentation.
		.ch-g1-2
			a(id='report-a-problem')
			h2 Problems?
			p.container
				| You can easily report problems, like bugs or typos through our 
				a(href='/api/index.html') issue tracker
				| , or simply write a twitt to 
				a(href='http://twitter.com/#!/chicoui') @chicoui
				| .
.clearfix

script
	$(".ninjas").modal("<h2>Here is a question for you	!</h2><p>How many ninjas you need to create a awesome library?.</p>");
	$(".snippet").expando();