
div.ch-g1.section
	h1 Docs
	.ch-g1-4
		!=partial('partials/demos')

		!=partial('partials/howtos')
					
	.ch-g3-4
		h1 TabNavigator
		p.container 
			| The 
			a(href='/api/#{latest.version}/symbols/ch.TabNavigator.html') TabNavigator
			|  component is a member of the 
			a(href='/api/symbols/ch.Controllers.html') Controllers
			|  family. It helps you organize and present large content. 
			| The component has views: the horizontal view and vertical view. 
		p.container 
			| The 
			a(href='/api/symbols/ch.TabNavigator.html') TabNavigator
			|  has three important parts:
		ul 
			li 
				| The 
				strong tablist
				|  is a list of links each pointing to the content. 
			li 
				| The 
				strong tabpanel
				|  is the container of the one part of the content. 
			li 
				| The 
				strong tabs
				|  is the group of the tabpanels. 
		p.container 
			| The content could be in the HTML or you can load it via ajax call.
		a(id='demo')
		h2 Demo
		.box
			.demo_tabNavigator
				ul
					li
						a(href='#tab1') Tab 1
					li
						a(href='#tab2') Tab 2
					li
						a(href='#tab3') Tab 3
				div
					div(id='tab1') The tab 1
					div(id='tab2') The tab 2
					div(id='tab3') The tab 3
		
		.snippet
			p Snippet
			div
				pre.code
					|<div id="example">
					|	<ul>
					|		<li><a href="#tab1">Tab 1</a></li>
					|		<li><a href="#tab2">Tab 2</a></li>
					|		<li><a href="#tab3">Tab 3</a></li>
					|	</ul>
					|	<div>
					|		<div id="tab1">Tab 1</div>
					|		<div id="tab2">Tab 2</div>
					|		<div id="tab3">Tab 3</div>
					|	</div>
					|</div>
		p.container 
			| This is the way to create a new tab navigator:
		pre.code 
			| var foo = $("#example").tabNavigator();
		a(id='loading-async-content')
		h2 Loading async content 
		p.container
			| The component can load async content. 
			| To work, the link in tablist must have a url where the content is. Instead of:
		pre.code
			| <li><a href="#tab1">Tab 1</a></li>
		p.container 
			| You have to put the url in the href atrribute.
		pre.code
			| <li><a href="example.html">Tab 1</a></li>
		p.container
			| You can add some callbacks function: 
			code onContentLoad
			|  and 
			code onContentError
			| .  
		a(id='select-and-getselect')
		h2 select and getSelect
		p.container
			| The 
			code select()
			|  method allow you to show a tab.
			| The getSelect() method allow you know which tab is selected.
			| It returns an integer that represents the tab’s order starting at 1. 
		a(id='callbacks')
		h2 Callbacks
		p.container 
			| When a tab is selected, a event is dispatched. This is the 
			code onSelect
			|  event.
		hr
		.ch-g1-2
			a(id='keep-on-reading')
			h2 Keep on reading
			p.container
				| Read more on our technical documentation, see the 
				a(href='/api/') class index
				| , or see more about 
				a(href="/api/symbols/ch.TabNavigator.html") TabNavigator
				|  in the documentation.
		.ch-g1-2
			a(id='report-a-problem')
			h2 Problems?
			p.container
				| You can easily report problems, like bugs or typos through our 
				a(href='/api/') issue tracker
				| , or simply write a twitt to 
				a(href='http://twitter.com/#!/chicoui') @chicoui
				| .
.clearfix
- script('$(".demo_tabNavigator").tabNavigator();$(".snippet").expando();')