
div.ch-g1.section
	h1 Docs
	.ch-g1-4
		!=partial('partials/demos')

		!=partial('partials/howtos')
					
	.ch-g3-4
		h1 Zoom
		p.container
			| The Zoom component is a member of 
			a(href='/api/#{latest.version}/symbols/ch.Floats.html') Floats
			|  familiy. It shows a contextual reference to an augmented version of a main declared image.
		a(id='demo')
		h2 Demo
		p.container
			| Roll over the HTML5 logo to see a demo:
		p.actions
			a#example(href='http://www.w3.org/html/logo/downloads/HTML5_Logo_512.png',target='_blank')
				img(src='http://www.w3.org/html/logo/downloads/HTML5_Logo_128.png', alt='HTML5')
		.snippet
			p Snippet
			div
				pre.code
					| <a href="zoomed-image" id="example">
					|     <img src="original-image" alt="HTML5" />
					| </a>
		p.container 
			| This is the way to create a new Zoom:
		pre.code
			| var foo = $("#example").zoom();
		p.container
			| As any 
			a(href='/api/#{latest.version}/symbols/ch.Floats.html') Floats
			|  children, the Zoom has a few uses cases you can use to modifiy and manipulate its size.
		
		a(id='changing-size')
		h2 Changing size
		p.container
			| For change the width property to the Modal's container
			| there is a method called 
			code width()
			| , also works as a getter and a setter at the same time. To 
			em get 
			| the property simply use the method without arguments, like this:
		pre.code
			| var width = foo.width(); // Get its width
		p.container
			| To set the property add an argument to the method  
			code width()
			| , admits 
			em Numbers
			|  (200) or 
			em String
			|  ('200px') as a CSS property. See an example:
		pre.code
			| foo.width(200); // Set its width
		p.container
			| Exactly the same thing with the method 
			code heigth()
			| , admits 
			em Numbers
			|  (300) or 
			em String
			| ('300px') as a CSS property. Get example:
		pre.code
			| foo.height(); // Get its height
		p.container
			| Set 
			code height()
			|  examples:
		pre.code
			| foo.height(300); // Set its height
		p.container
			| Read more about 
			a(href='/api/#{latest.version}/symbols/ch.Floats.html#.size') Sizing
			| .
		hr
		.ch-g1-2
			a(id='keep-on-reading')
			h2 Keep on reading
			p.container
				| Read more on our technical documentation, see the 
				a(href='/api/') class index
				| , or see more about Zoom in the 
				a(href="/api/#{latest.version}/symbols/ch.Zoom.html") Zoom
				|  documentation.
		.ch-g1-2
			a(id='report-a-problem')
			h2 Problems?
			p.container
				| You can easily report problems, like bugs or typos through our 
				a(href='/api/') issue tracker
				| , or simply write a twitt to 
				a(href='http://twitter.com/#!/chicoui') @chicoui
				| .
.clearfix
- script("code", '$("#example").zoom();$(".snippet").expando();')