
.ch-g1

	.ch-g1-4
		h3 Content
		ul.container
			li
				a(href='#create-yours-validations') Create yours validations
			li
				a(href='#disable-a-watcher') Disable a watcher
			li
				a(href='#enable-a-watcher') Enable a watcher

		h3 How-to...
		ul.container
			- each item in howtos 
				li
					a(href='#{item.href}') #{item.label}

	.ch-g3-4
		h2 How to disable and enable watchers
		p.container
			| This guide explain you how to disable and enable 
			a(href="/demo/watcher") watchers
			| 
			| (
			a(href="/demo/form") form's
			| 
			| validations).

		a#create-yours-validations
		h3 Create yours validations
		p.container
			| First, you'll initilize the 
			a(href="/demos/watcher") watchers
			|  that you will use in your project.
			| In this case, we'll create a
			code required
			|  validation.

		pre.code
			| var requiredVal = $(".field-req").required("This field is required.");
		p.container
			| Note: You should store Chico's components in a javascript variable in order to access the methods and properties.

		a#disable-a-watcher
		h3 Disable a watcher
		p.container
			| You can disable this watcher, you only must use the method
			code disable
			| . Therefore, the next time that you run validation this watcher will not execute.
		pre.code
			| requiredValidation.disable();

		a#enable-a-watcher
		h3 Enable a watcher
		p.container
			| Now, if you want to enable it again, you must use the method 
			code enable
			| .

		pre.code
			| requiredValidation.enable();

		hr
		a(id='report-a-problem')
		h3 Problems?
		p.container
			| You can easily report problems, like bugs or typos through our 
			a(href='/api/index.html') issue tracker
			| , or simply write a twitt to 
			a(href='http://twitter.com/#!/chicoui') @chicoui
			| .

.clearfix