
.ch-g1

  .ch-g1-4
    h3 Content
    ul.container
      li
        a(href='#what-is-chico') What is Chico?
      li
        a(href='#demos') Check out this demos.
      li
        a(href='#download') Donwload the library.
      li
        a(href='#using') Using Chico on a Web page.
      li 
        a(href='#who-is-using') Who is using Chico?


    h3 How-to...
    ul.container
      li
        a(href='/how-to/install') Install and use the library
      li
        a(href='/how-to/install') Change the content of a modal
      li
        a(href='/how-to/validate-two-fields-like-one') Validate two fields like one
      li 
        a(href='/how-to/create-a-comonent') Create a UI Component
      li 
        a(href='/how-to/create-a-theme') Create a theme from scratch
      li 
        a(href='/how-to/mesh-in-5-min') Mesh your layout in 5 min
      li 
        a(hre='/how-to/collaborate') Collaborate with the project


  .ch-g3-4
    h2 How to change the content of a modal window?
    p.container
      | In this tutorial, we'll learn how to change the content of a modal window component easily.

    h3 Create a new modal window
    p.container
      | First, we'll have to create our modal window to work on. 
      | Remember store Chico's components in variables to access its public methods and properties.
      | In this case, we store the modal in "myModal" variable and now we can access its public properties. (link a la doc del modal para que vean todos los métodos publico).

      pre
        |  /assets
        | /src/js
        | /src/css

      h4 Dependencies
      p
        | Something important is that Chico depends on jQuery to work properly.
        | Besides that, you can add some snippets to improve Browser sniffing
        | and PNG fix on old browsers. Al dependencies are listed
        | bellow:
      ul
        li
          a(href='http://www.jquery.com') jQuery JavaScript Library.
        li
          a(href='http://www.dillerdesign.com/experiment/DD_belatedPNG',title='PNG Support for old browsers.') DD_belatedPNG.
        li
          a(href='/how-to/browser-sniffing') Conditional comments.
          
    a#using
    h3 Using Chico on a Web page.
    p.container
      | TO-DO
    
    a#flavors
    h3 Changing the looks.
    p.container All styles of chico components are defined in a 'Flavor', that is the cool way to refer to a Stylesheet.
    
    a#who-is-using
    h3 Who is using Chico?
    div.container
      p
        | There is a couple of products using Chico on the web:
      ol
        li
          a(href='http://www.mercadolibre.com') MercadoLibre,
        li
          a(href='http://www.mercadopago.com') MercadoPago,
        li
          a(href='http://www.mercadoshops.com') MercadoShops.
        
.clearfix