link(rel='stylesheet', href='/src/css/activity-widget.css')

hr.clearfix
div.container
	ul.activity
		li.ch-g1-3
			.github
		li.ch-g1-3
			.twitter
		li.ch-g1-3
			.tumblr
		
script(src='/src/js/activity-widget.js')