h1 AutoComplete
p.updated
	| Documentation updated on 
	data January 27th
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#description") 1 Description
		dt
			a(href="#demo") 2 Demo
		dt
			a(href="#snippet") 3 Code snippet
		dt
			a(href="#instance") 4 Instance component
		dt
			a(href="#pushing") 5 Pushing data
		//
			dt
				a(href="#list-of-options") 6 Like a list of options

h3#description Description
p
	| The AutoComplete widget is a member of the 
	a(href="/api/#{latest.version}/symbols/ch.Controls.html") Controls
	|  family. It works for input control. 
	//It can suggest a list of options like a select control in a form, or 
	| It can work as suggester while the user types in a input.

h3#demo Demo
.box
	form#example_form.ch-form(action="#", method="GET")
		.ch-form-row
			label(for="autocomplete") Your country:
			input.autoComplete_Example#autocomplete(type="text", name="autocomplete", placeholder="Search your country i.e. Argentina")

h3#snippet Code snippet
pre
	| <form id="example_form" action="#" method="GET" class="ch-form">
	|    <div class="ch-form-row">
	|       <label for="autocomplete">Your country:</label>
	|       <input id="autocomplete" type="text" name="autocomplete" 
	|              placeholder="Search your country i.e. Argentina" 
	|              class="autoComplete_Example ch-autoComplete" />
	|    </div>
	| </form>

h3#instance Instance component
p
	| This is the way to create an AutoComplete as a suggestive:
pre
	| var foo = $("#example").autoComplete({"url": "/suggest/"});

h3#pushing Pushing data
p
	| The component executes the callback that returns to you the server service.
p
	| In the callback function you have to define the 
	code foo.suggest();
p
	| Then, you have to give the data returned from the server to the function as parameter 
	code foo.suggest(SERVER_DATA);
pre
	| var autoComplete = function (SERVER_DATA) {
	| 	ac.suggest(SERVER_DATA);
	| };
//
	h3#list-of-options Like a list of options
	p
		| And this is the way to create the AutoComplete as a list of options:
	pre
		| var foo = $("#example").autoComplete();
	p
		| Giving an array as parameter: 
		code foo.suggest(["Option 1", "Option 2", "Option 3"]);
	p
		| Read more about 
		a(href="/api/#{latest.version}/symbols/ch.AutoComplete.html") AutoComplete
		| .

!=partial("includes/keep-reading")

- script("code", 'var ac = $(".autoComplete_Example").autoComplete({"url":"/suggest/"});')
- script("code", 'var autoComplete = function(data){ ac.suggest(data); };')