h1 Calendar
p.updated
	| Documentation updated on 
	data February 7th
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#description") 1 Description
		dt
			a(href="#demo") 2 Demo
		dt
			a(href="#snippet") 3 Code snippet
		dt
			a(href="#instance") 4 Instance component
		dt
			a(href="#configuration") 5 Configuration
		dt
			a(href="#selection") 6 Selection
		dd
			dl
				dt
					a(href="#simple") 6.1 Simple selection
				dt
					a(href="#ranges") 6.2 Ranges selection
		dt
			a(href="#events") 7 Events

h3#description Description
p
	| The Calendar widget is a component that allows to show a date or range of dates.
p
	| The widget behavior is 
	em read-only
	| . To get a component that allows to select dates, see the 
	a(href="/widgets/date-picker") Date Picker
	| .

h3#demo Demo
#example

h3#snippet Code snippet
p
	| A container where component will be created.
pre
	| <div id="example"></div>

h3#instance Instance component
p
	| This is the way to create a new Calendar:
pre
	| var foo = $("#example").calendar();


!=partial("includes/configuration")


h3#selection Selection
p
	| When the Calendar widget is being created, you can use the 
	code selected
	|  parameter to specify a default date selection.
p
	| Besides, the Calendar exposes the public method 
	code select
	|  that allows you to show an specific date on component, after instantiation.

h4#simple Simple selection
#example2
p
	| By using a string you can specify a single date. Using 
	code selected
	|  parameter:
pre
	| $("#example").calendar({
	| 	"selected": "2012/01/26"
	| });
p
	| Using an unique parameter:
pre
	| $("#example").calendar("2012/01/26");
p
	| Using 
	code select
	|  method:
pre
	| foo.select("today");
	| foo.select("2012/01/26");
p
	| You can specify a date or 
	code "today"
	|  string as parameter.

h4#ranges Ranges selection
#example3
p
	| By using an array you can specify multiple dates and range of dates.
p
	| It can be used within 
	code select
	|  method,
	code selected
	|  configuration parameter, or as unique parameter too:
pre
	| $("#example").calendar({
	| 	"selected": [
	| 		["2012/01/11", "2012/01/13"], // Range of dates
	| 		["2012/02/11", "2012/02/13"], // Range of dates
	| 		"2012/02/24" // Single date
	| 	]
	| });
p
	| You can specify a date or 
	code "today"
	|  string as any parameter.

!=partial("includes/events")

!=partial("includes/keep-reading")

- script("code", '$("#example").calendar();')
- script("code", '$("#example2").calendar("2012/01/26");')
- script("code", 'var curr = "2012/" + (new Date().getMonth() + 1) + "/"; $("#example3").calendar({"selected":[[curr + "10", curr + "13"],[curr + "24", curr + "25"]]});')