h1 Countdown
p.updated
	| Documentation updated on 
	data December 7th
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#description") 1 Description
		dt
			a(href="#demo") 2 Demo
		dt
			a(href="#snippet") 3 Code snippet
		dt
			a(href="#instance") 4 Instance component
		dt
			a(href="#configuration") 5 Configuration
		dt
			a(href="#custom-text") 6 Custom text
		dt
			a(href="#events") 7 Events

h3#description Description
p
	| The Countdown widget is a member of 
	a(href="/api/#{version}/symbols/ch.Controls.html") Controls
	|  familiy.

h3#demo Demo
form.ch-box.ch-form
	.ch-form-row
		label(for="example") Text:
		textarea(rows="10", cols="50").demo-countdown#example

h3#snippet Code snippet
pre
	| <form ... >
	| 	<p class="ch-form-row">
	| 		<label for="example">Text:</label>
	| 		<textarea id="example"></textarea>
	| 	</p>
	| </form>

h3#instance Instance component
p
	| This is the way to create a new Countdown, specifying amount of character to limit the user text input:
pre
	| var foo = $("#example").countdown(140);


!=partial("includes/configuration")


h3#custom-text Custom text
p
	| You can specify your custom text for plural and singular mode, where the variable that represents the number to be replaced should be a hash:
pre
	| var foo = $("#example").countdown({
	| 	"max": 140,
	| 	"plural": "# characters left.",
	| 	"singular": "# character left."
	| });


!=partial("includes/events")

!=partial("includes/keep-reading")

- script("code", '$(".demo-countdown").countdown(140);')