h1 Css Library
p.updated
	| Documentation updated on 
	data June 4th
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#description") 1 Description
		dt
			a(href="#typography") 2 Typography
		dd
			dl
				dt
					a(href="#headings") 2.1 Headings
				dt
					a(href="#paragraphs") 2.2 Paragraphs
		dt
			a(href="#lists") 3 Lists
		dd
			dl
				dt
					a(href="#unstyled") 3.1 Unstyled
				dt
					a(href="#unordered") 3.2 Unordered
				dt
					a(href="#ordered") 3.3 Ordered
		dt
			a(href="#boxes") 4 Boxes
		dd
			dl
				dt
					a(href="#container") 4.1 Container
				dt
					a(href="#lite-box") 4.2 Lite Box
				dt
					a(href="#box") 4.3 Box
		dt
			a(href="#buttons") 5 Buttons
		dt
			a(href="#icons") 6 Icons
		dt
			a(href="#message-boxes") 7 Message boxes
		dt
			a(href="#pagination") 8 Pagination
		dt
			a(href="#tables") 9 Tables

h3#description Description
p
	| Here's a list of CSS Library that are part of Chico UI look and feel. They will help you with common layout elements, such as buttons and tables.

h3#typography Typography

h4#headings Headings
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td#heading-widget
				h1 Heading 1
				h2 Heading 2
				h3 Heading 3
				h4 Heading 4
				h5 Heading 5
				h6 Heading 6
			td
				pre
					| <h1>Heading 1</h1>
					| <h2>Heading 2</h2>
					| <h3>Heading 3</h3>
					| <h4>Heading 4</h4>
					| <h5>Heading 5</h5>
					| <h6>Heading 6</h6>

h4#paragraphs Paragraphs
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				p
					| Lorem ipsum dolor sit amet.
				p
					| Ut enim ad minim veniam, quis nostrud exercitation.
			td
				pre
					|<p>Lorem ipsum dolor sit amet.</p>
					| <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>

h3#lists Lists

h4#unstyled Unstyled
.ch-g2-5
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				ul
					li foo
					li foobar
					li bar
			td
				pre
					| <ul>
					| 	<li>foo</li>
					| 	<li>foobar</li>
					| 	<li>bar</li>
					| </ul>

h4#unordered Unordered
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				ul.ch-list
					li foo
					li foobar
					li bar
			td
				pre
					| <ul class="ch-list">
					| 	<li>foo</li>
					| 	<li>foobar</li>
					| 	<li>bar</li>
					| </ul>

h4#oreded Ordered
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				ol.ch-list
					li foo
					li foobar
					li bar
			td
				pre
					| <ol class="ch-list">
					| 	<li>foo</li>
					| 	<li>foobar</li>
					| 	<li>bar</li>
					| </ol>

h3#boxes Boxes
h4#container Container
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				.ch-box-container Container
			td
				pre
					| <div class="ch-box-container">Container Box</div>
h4#lite-box Lite Box
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				.ch-box-lite Box
			td
				pre
					| <div class="ch-box-lite">Lite Box</div>
h4#box Box
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				.ch-box Box
			td
				pre
					| <div class="ch-box">Box</div>

h3#buttons Buttons
table.ch-datagrid
	thead
		tr
			th Example
			th Code snippet
	tbody
		tr
			td
				input.ch-btn.ch-btn-big(type="submit", value="Big Button")
			td
				pre
					| <input class="ch-btn ch-btn-big" ... />
		tr
			td
				input.ch-btn(type="submit", value="Button")
			td
				pre
					| <input class="ch-btn" ... />
		tr
			td
				input.ch-btn.ch-btn-small(type="submit", value="Small Button")
			td
				pre
					| <input class="ch-btn ch-btn-small" ... />
		tr
			td
				input.ch-btn-skin.ch-btn-small(type="submit", value="Skin Button")
			td
				pre
					| <input class="ch-btn-skin ch-btn-small" ... />
		tr
			td
				input.ch-btn.ch-btn-big.ch-btn-disabled(type="submit", value="Big Button Disabled", disabled)
			td
				pre
					| <input class="ch-btn ch-btn-big ch-btn-disabled" disabled="disabled" />
		tr
			td
				input.ch-btn.ch-btn-disabled(type="submit", value="Button Disabled", disabled)
			td
				pre
					| <input class="ch-btn ch-btn-disabled" disabled="disabled" />
		tr
			td
				input.ch-btn.ch-btn-small(type="submit", value="Small Button Disabled", disabled)	
			td
				pre
					| <input class="ch-btn ch-btn-small" disabled="disabled" />
		tr
			td	
				input.ch-btn-skin.ch-btn-small.ch-btn-disabled(type="submit", value="Skin Button Disabled", disabled)
			td
				pre
					| <input class="ch-btn-skin ch-btn-small ch-btn-disabled" disabled="disabled" />

h3#icons Icons
table.ch-datagrid
	thead
		tr
			th Type
			th Example
			th Code snippet
	tbody
		tr
			td Help
			td
				span.ch-box-help Help
			td
				pre
					| <span class="ch-box-help">Help</span>
		tr
			td Info
			td
				span.ch-box-information Info
			td
				pre
					| <span class="ch-box-information">Info</span>
		tr
			td Error
			td
				span.ch-box-error Error
			td
				pre
					| <span class="ch-box-error">Error</span>
		tr
			td Attention
			td
				span.ch-box-attention Attention
			td
				pre
					| <span class="ch-box-attention">Attention</span>
		tr
			td Ok
			td
				span.ch-box-ok OK
			td
				pre
					| <span class="ch-box-ok">OK</span>

h3#message-boxes Message Boxes
table.ch-datagrid
	thead
		tr
			th Example
			th Code snippet
	tbody
		tr
			td
				p.ch-box-help Do you need any help?
			td
				pre
					| <p class="ch-box-help">Do you need any help?</p>
		tr
			td
				p.ch-box-information Here's more information
			td
				pre
					| <p class="ch-box-information">Here's more information</p>
		tr
			td
				p.ch-box-error Oops! something went wrong
			td
				pre
					| <p class="ch-box-error">Oops! something went wrong</p>
		tr
			td
				p.ch-box-attention Warning! be careful
			td
				pre
					| <p class="ch-box-attention">Warning! be careful</p>
		tr
			td
				p.ch-box-ok Great! you're awesome
			td
				pre
					| <p class="ch-box-ok">Great! you're awesome</p>

h3#pagination Pagination
table.ch-datagrid
	thead
		tr
			th Example
			th Code snippet
	tbody
		tr
			td
				ul.ch-pagination
					li
						a(href="/1.html") Previous
					li
						a(href="/1.html") 1

					li.ch-pagination-current
						a(href="/2.html") 2
					li
						a(href="/3.html") 3
					li
						a(href="/3.html") Next
			td
				pre
					| <ul class="ch-pagination">
					|   <li><a type="prev" href="/2.html">Previous</a></li>
					|   <li><a href="/1.html">1</a></li>
					|   <li><a href="/2.html">2</a></li>
					|   <li class="ch-pagination-current">
					|	   <a href="/3.html">3</a>
					|   </li>
					|   <li><a href="/4.html">4</a></li>
					|   <li><a type="next" href="/4.html">Next</a></li>
					| </ul>	

h3#tables Tables
.ch-g2-5
	.ch-leftcolumn
		table.ch-datagrid
			thead
				tr
					th(scope="col")
						input(type="checkbox")
					th(scope="col") Code
					th.ch-datagrid-selected(scope="col") Price
						span.ch-datagrid-asc (ascendant)
			tbody
				tr
					td
						input(type="checkbox")
					td
						| A001XXL
					td
						p.ch-price
							| $100
							sup 00
				tr.ch-datagrid-selected
					td
						input(type="checkbox", checked)
					td
						| A002XXL
					td
						p.ch-price
							| $110
							sup 00
				tr
					td
						input(type="checkbox")
					td
						| A003XXL
					td
						p.ch-price
							| $120
							sup 00
				tr
					td
						input(type="checkbox")
					td
						| A004XXL
					td
						p.ch-price
							| $130
							sup 00
				tr
					td
						input(type="checkbox")
					td
						| A005XXL
					td
						p.ch-price
							| $140
							sup 00
.ch-g3-5
	pre
		|<table class="ch-datagrid">
		|	<thead>
		|		<tr>
		|			<th scope="col">
		|				<input type="checkbox" />
		|			</th>
		|			<th scope="col">Code</th>
		|			<th scope="col" class="ch-datagrid-selected">Price 
		|				<span class="ch-datagrid-asc">(asc)<span>
		|			</th>
		|		<tr>
		|	</thead>
		|	<tbody>
		|		<tr>
		|			<td><input type="checkbox" /></td>
		|			<td>A001XXL</td>
		|			<td><p>$100<sup>00<sup></p></td>
		|		</tr>
		|		<tr class="ch-datagrid-selected">
		|			<td><input type="checkbox" checked /></td>
		|			<td>A002XXL</td>
		|			<td><p>$110<sup>00<sup></p></td>
		|		</tr>
		|		<tr>
		|			<td><input type="checkbox" /></td>
		|			<td>A003XXL</td>
		|			<td><p>$100<sup>00<sup></p></td>
		|		</tr>
		|		...
		|	</tbody>
		|</table>		
.clearfix