h1 Css Library
p.updated
	| Documentation updated on
	data June 4th
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#description") 1 Description
		dt
			a(href="#typography") 2 Typography
		dd
			dl
				dt
					a(href="#headings") 2.1 Headings
				dt
					a(href="#paragraphs") 2.2 Paragraphs
		dt
			a(href="#lists") 3 Lists
		dd
			dl
				dt
					a(href="#unstyled") 3.1 Unstyled
				dt
					a(href="#unordered") 3.2 Unordered
				dt
					a(href="#ordered") 3.3 Ordered
		dt
			a(href="#boxes") 4 Boxes
		dd
			dl
				dt
					a(href="#container") 4.1 Container
				dt
					a(href="#lite-box") 4.2 Lite Box
				dt
					a(href="#box") 4.3 Box
		dt
			a(href="#buttons") 5 Buttons
		dt
			a(href="#loadings") 6 Loadings
		dt
			a(href="#icons") 7 Icons
		dt
			a(href="#message-boxes") 8 Message boxes
		dt
			a(href="#pagination") 9 Pagination
		dt
			a(href="#tables") 10 Tables

h3#description Description
p
	| Here's a list of CSS Library that are part of Chico UI look and feel. They will help you with common layout elements, such as buttons and tables.

h3#typography Typography

h4#headings Headings
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td#heading-widget
				h1 Heading 1
				h2 Heading 2
				h3 Heading 3
				h4 Heading 4
				h5 Heading 5
				h6 Heading 6
			td
				pre
					| <h1>Heading 1</h1>
					| <h2>Heading 2</h2>
					| <h3>Heading 3</h3>
					| <h4>Heading 4</h4>
					| <h5>Heading 5</h5>
					| <h6>Heading 6</h6>

h4#paragraphs Paragraphs
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				p
					| Lorem ipsum dolor sit amet.
				p
					| Ut enim ad minim veniam, quis nostrud exercitation.
			td
				pre
					| <p>Lorem ipsum dolor sit amet.</p>
					| <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>

h3#lists Lists

h4#unstyled Unstyled
.ch-g2-5
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				ul
					li foo
					li foobar
					li bar
			td
				pre
					| <ul>
					|     <li>foo</li>
					|     <li>foobar</li>
					|     <li>bar</li>
					| </ul>

h4#unordered Unordered
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				ul.ch-list
					li foo
					li foobar
					li bar
			td
				pre
					| <ul class="ch-list">
					|     <li>foo</li>
					|     <li>foobar</li>
					|     <li>bar</li>
					| </ul>

h4#oreded Ordered
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				ol.ch-list
					li foo
					li foobar
					li bar
			td
				pre
					| <ol class="ch-list">
					|    <li>foo</li>
					|    <li>foobar</li>
					|    <li>bar</li>
					| </ol>

h3#boxes Boxes
h4#container Container
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				.ch-box-container Container
			td
				pre
					| <div class="ch-box-container">Container Box</div>
h4#lite-box Lite Box
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				.ch-box-lite Box
			td
				pre
					| <div class="ch-box-lite">Lite Box</div>
h4#box Box
table.ch-datagrid
	thead
		tr
			th(width="40%") Example
			th(width="60%") Code snippet
	tbody
		tr
			td
				.ch-box Box
			td
				pre
					| <div class="ch-box">Box</div>

h3#buttons Buttons
table.ch-datagrid
	thead
		tr
			th Example
			th Code snippet
	tbody
		tr
			td
				input.ch-btn.ch-btn-big(type="submit", value="Big Button")
			td
				pre
					| <input class="ch-btn ch-btn-big" ... />
		tr
			td
				input.ch-btn(type="submit", value="Button")
			td
				pre
					| <input class="ch-btn" ... />
		tr
			td
				input.ch-btn.ch-btn-small(type="submit", value="Small Button")
			td
				pre
					| <input class="ch-btn ch-btn-small" ... />
		tr
			td
				input.ch-btn-skin.ch-btn-small(type="submit", value="Skin Button")
			td
				pre
					| <input class="ch-btn-skin ch-btn-small" ... />
		tr
			td
				input.ch-btn.ch-btn-big.ch-btn-disabled(type="submit", value="Big Button Disabled", disabled)
			td
				pre
					| <input class="ch-btn ch-btn-big ch-btn-disabled" disabled="disabled" />
		tr
			td
				input.ch-btn.ch-btn-disabled(type="submit", value="Button Disabled", disabled)
			td
				pre
					| <input class="ch-btn ch-btn-disabled" disabled="disabled" />
		tr
			td
				input.ch-btn.ch-btn-small(type="submit", value="Small Button Disabled", disabled)
			td
				pre
					| <input class="ch-btn ch-btn-small" disabled="disabled" />
		tr
			td
				input.ch-btn-skin.ch-btn-small.ch-btn-disabled(type="submit", value="Skin Button Disabled", disabled)
			td
				pre
					| <input class="ch-btn-skin ch-btn-small ch-btn-disabled" disabled="disabled" />


h3#loadings Loadings
table.ch-datagrid
	thead
		tr
			th Example
			th Code snippet
	tbody
		tr
			td
				span.ch-loading-small
			td
				pre
					| <span class="ch-loading-small"></span>
		tr
			td
				span.ch-loading
			td
				pre
					| <span class="ch-loading"></span>
		tr
			td
				span.ch-loading-big
			td
				pre
					| <span class="ch-loading-big"></span>


h3#icons Icons
p
	small
		| Font Awesome - CC BY 3.0 -
		a(href="http://fortawesome.github.com/Font-Awesome", target="_blank") http://fortawesome.github.com/Font-Awesome
table.ch-datagrid
	thead
		tr
			th Example
			th Code snippet
	tbody
		tr
			td
				i.ch-icon-search
			td
				pre
					| <i class="ch-icon-search"></i>
		tr
			td
				i.ch-icon-heart
			td
				pre
					| <i class="ch-icon-heart"></i>
		tr
			td
				i.ch-icon-star
			td
				pre
					| <i class="ch-icon-star"></i>
		tr
			td
				i.ch-icon-star-empty
			td
				pre
					| <i class="ch-icon-star-empty"></i>
		tr
			td
				i.ch-icon-user
			td
				pre
					| <i class="ch-icon-user"></i>
		tr
			td
				i.ch-icon-th-large
			td
				pre
					| <i class="ch-icon-th-large"></i>
		tr
			td
				i.ch-icon-th
			td
				pre
					| <i class="ch-icon-th"></i>
		tr
			td
				i.ch-icon-th-list
			td
				pre
					| <i class="ch-icon-th-list"></i>

		tr
			td
				i.ch-icon-ok
			td
				pre
					| <i class="ch-icon-ok"></i>
		tr
			td
				i.ch-icon-remove
			td
				pre
					| <i class="ch-icon-remove"></i>
		tr
			td
				i.ch-icon-zoom-in
			td
				pre
					| <i class="ch-icon-zoom-in"></i>
		tr
			td
				i.ch-icon-zoom-out
			td
				pre
					| <i class="ch-icon-zoom-out"></i>
		tr
			td
				i.ch-icon-cog
			td
				pre
					| <i class="ch-icon-cog"></i>
		tr
			td
				i.ch-icon-trash
			td
				pre
					| <i class="ch-icon-trash"></i>
		tr
			td
				i.ch-icon-time
			td
				pre
					| <i class="ch-icon-time"></i>
		tr
			td
				i.ch-icon-repeat
			td
				pre
					| <i class="ch-icon-repeat"></i>
		tr
			td
				i.ch-icon-refresh
			td
				pre
					| <i class="ch-icon-refresh"></i>
		tr
			td
				i.ch-icon-lock
			td
				pre
					| <i class="ch-icon-lock"></i>
		tr
			td
				i.ch-icon-print
			td
				pre
					| <i class="ch-icon-print"></i>
		tr
			td
				i.ch-icon-camera
			td
				pre
					| <i class="ch-icon-camera"></i>
		tr
			td
				i.ch-icon-pencil
			td
				pre
					| <i class="ch-icon-pencil"></i>
		tr
			td
				i.ch-icon-map-marker
			td
				pre
					| <i class="ch-icon-map-marker"></i>
		tr
			td
				i.ch-icon-move
			td
				pre
					| <i class="ch-icon-move"></i>
		tr
			td
				i.ch-icon-chevron-left
			td
				pre
					| <i class="ch-icon-chevron-left"></i>
		tr
			td
				i.ch-icon-chevron-right
			td
				pre
					| <i class="ch-icon-chevron-right"></i>
		tr
			td
				i.ch-icon-plus-sign
			td
				pre
					| <i class="ch-icon-plus-sign"></i>
		tr
			td
				i.ch-icon-minus-sign
			td
				pre
					| <i class="ch-icon-minus-sign"></i>
			tr
			td
				i.ch-icon-remove-sign
			td
				pre
					| <i class="ch-icon-remove-sign"></i>
			tr
			td
				i.ch-icon-ok-sign
			td
				pre
					| <i class="ch-icon-ok-sign"></i>
			tr
			td
				i.ch-icon-question-sign
			td
				pre
					| <i class="ch-icon-question-sign"></i>
			tr
			td
				i.ch-icon-info-sign
			td
				pre
					| <i class="ch-icon-info-sign"></i>
		tr
			td
				i.ch-icon-ban-circle
			td
				pre
					| <i class="ch-icon-ban-circle"></i>
		tr
			td
				i.ch-icon-arrow-left
			td
				pre
					| <i class="ch-icon-arrow-left"></i>
		tr
			td
				i.ch-icon-arrow-right
			td
				pre
					| <i class="ch-icon-arrow-right"></i>
		tr
			td
				i.ch-icon-arrow-up
			td
				pre
					| <i class="ch-icon-arrow-up"></i>
		tr
			td
				i.ch-icon-arrow-down
			td
				pre
					| <i class="ch-icon-arrow-down"></i>
		tr
			td
				i.ch-icon-plus
			td
				pre
					| <i class="ch-icon-plus"></i>
		tr
			td
				i.ch-icon-minus
			td
				pre
					| <i class="ch-icon-minus"></i>
			tr
			td
				i.ch-icon-exclamation-sign
			td
				pre
					| <i class="ch-icon-exclamation-sign"></i>
			tr
			td
				i.ch-icon-warning-sign
			td
				pre
					| <i class="ch-icon-warning-sign"></i>
			tr
			td
				i.ch-icon-calendar
			td
				pre
					| <i class="ch-icon-calendar"></i>
			tr
			td
				i.ch-icon-comment
			td
				pre
					| <i class="ch-icon-comment"></i>
		tr
			td
				i.ch-icon-chevron-up
			td
				pre
					| <i class="ch-icon-chevron-up"></i>
			tr
			td
				i.ch-icon-chevron-down
			td
				pre
					| <i class="ch-icon-chevron-down"></i>
			tr
			td
				i.ch-icon-key
			td
				pre
					| <i class="ch-icon-key"></i>
			tr
			td
				i.ch-icon-comments
			td
				pre
					| <i class="ch-icon-comments"></i>
			tr
			td
				i.ch-icon-unlock
			td
				pre
					| <i class="ch-icon-unlock"></i>
			tr
			td
				i.ch-icon-wrench
			td
				pre
					| <i class="ch-icon-wrench"></i>
			tr
			td
				i.ch-icon-group
			td
				pre
					| <i class="ch-icon-group"></i>
			tr
			td
				i.ch-icon-copy
			td
				pre
					| <i class="ch-icon-copy"></i>
		tr
			td
				i.ch-icon-paper-clip
			td
				pre
					| <i class="ch-icon-paper-clip"></i>
			tr
			td
				i.ch-icon-reorder
			td
				pre
					| <i class="ch-icon-reorder"></i>
		tr
			td
				i.ch-icon-truck
			td
				pre
					| <i class="ch-icon-truck"></i>
			tr
			td
				i.ch-icon-caret-down
			td
				pre
					| <i class="ch-icon-caret-down"></i>
		tr
			td
				i.ch-icon-caret-up
			td
				pre
					| <i class="ch-icon-caret-up"></i>
			tr
			td
				i.ch-icon-caret-left
			td
				pre
					| <i class="ch-icon-caret-left"></i>
			tr
			td
				i.ch-icon-caret-right
			td
				pre
					| <i class="ch-icon-caret-right"></i>
			tr
			td
				i.ch-icon-sort
			td
				pre
					| <i class="ch-icon-sort"></i>
		tr
			td
				i.ch-icon-sort-down
			td
				pre
					| <i class="ch-icon-sort-down"></i>
			tr
			td
				i.ch-icon-sort-up
			td
				pre
					| <i class="ch-icon-sort-up"></i>
		tr
			td
				i.ch-icon-envelope-alt
			td
				pre
					| <i class="ch-icon-envelope-alt"></i>
			tr
			td
				i.ch-icon-undo
			td
				pre
					| <i class="ch-icon-undo"></i>
		tr
			td
				i.ch-icon-comment-alt
			td
				pre
					| <i class="ch-icon-comment-alt"></i>
		tr
			td
				i.ch-icon-comments-alt
			td
				pre
					| <i class="ch-icon-comments-alt"></i>

h3#message-boxes Message Boxes
table.ch-datagrid
	thead
		tr
			th Example
			th Code snippet
	tbody
		tr
			td
				p.ch-box-help Do you need any help?
			td
				pre
					| <p class="ch-box-help">Do you need any help?</p>
		tr
			td
				p.ch-box-information Here's more information
			td
				pre
					| <p class="ch-box-information">Here's more information</p>
		tr
			td
				p.ch-box-error Oops! something went wrong
			td
				pre
					| <p class="ch-box-error">Oops! something went wrong</p>
		tr
			td
				p.ch-box-attention Warning! be careful
			td
				pre
					| <p class="ch-box-attention">Warning! be careful</p>
		tr
			td
				p.ch-box-ok Great! you're awesome
			td
				pre
					| <p class="ch-box-ok">Great! you're awesome</p>

h3#pagination Pagination
table.ch-datagrid
	thead
		tr
			th Example
			th Code snippet
	tbody
		tr
			td
				ul.ch-pagination
					li
						a(href="/1.html", type="prev") Previous
					li
						a(href="/1.html") 1

					li.ch-pagination-current
						a(href="/2.html") 2
					li
						a(href="/3.html") 3
					li
						a(href="/3.html", type="next") Next
			td
				pre
					| <ul class="ch-pagination">
					|     <li><a type="prev" href="/2.html">Previous</a></li>
					|     <li><a href="/1.html">1</a></li>
					|     <li><a href="/2.html">2</a></li>
					|     <li class="ch-pagination-current">
					|         <a href="/3.html">3</a>
					|     </li>
					|     <li><a href="/4.html">4</a></li>
					|     <li><a type="next" href="/4.html">Next</a></li>
					| </ul>

h3#tables Tables
h4 Controls
.ch-g2-5
	.ch-leftcolumn
		table.ch-datagrid-controls
			thead
				tr
					th(scope="col")
						input(type="checkbox")
					th(scope="col") Code
					th.ch-datagrid-selected(scope="col") Price
						i.ch-datagrid-asc
			tbody
				tr
					td
						input(type="checkbox")
					td
						| A001XXL
					td
						p.ch-price
							| $100
							sup 00
				tr.ch-datagrid-selected
					td
						input(type="checkbox", checked)
					td
						| A002XXL
					td
						p.ch-price
							| $110
							sup 00
				tr
					td
						input(type="checkbox")
					td
						| A003XXL
					td
						p.ch-price
							| $120
							sup 00
				tr
					td
						input(type="checkbox")
					td
						| A004XXL
					td
						p.ch-price
							| $130
							sup 00
				tr
					td
						input(type="checkbox")
					td
						| A005XXL
					td
						p.ch-price
							| $140
							sup 00
.ch-g3-5
	pre
		| <table class="ch-datagrid-controls">
		|     <thead>
		|         <tr>
		|             <th scope="col">
		|                 <input type="checkbox" />
		|             </th>
		|             <th scope="col">Code</th>
		|             <th scope="col" class="ch-datagrid-selected">Price
		|                 <i class="ch-datagrid-asc"><i>
		|             </th>
		|         <tr>
		|     </thead>
		|     <tbody>
		|         <tr>
		|             <td><input type="checkbox" /></td>
		|             <td>A001XXL</td>
		|             <td><p>$100<sup>00<sup></p></td>
		|         </tr>
		|         <tr class="ch-datagrid-selected">
		|             <td><input type="checkbox" checked /></td>
		|             <td>A002XXL</td>
		|             <td><p>$110<sup>00<sup></p></td>
		|         </tr>
		|         <tr>
		|             <td><input type="checkbox" /></td>
		|             <td>A003XXL</td>
		|             <td><p>$100<sup>00<sup></p></td>
		|         </tr>
		|	 </tbody>
		| </table>
.clearfix

h4 Readonly
.ch-g2-5
	.ch-leftcolumn
		table.ch-datagrid
			thead
				tr
					th(scope="col") Code
					th(scope="col") Price
			tbody
				tr
					td
						| A001XXL
					td
						p.ch-price
							| $100
							sup 00
				tr
					td
						| A002XXL
					td
						p.ch-price
							| $110
							sup 00
				tr
					td
						| A003XXL
					td
						p.ch-price
							| $120
							sup 00
.ch-g3-5
	pre
		| <table class="ch-datagrid">
		|     <thead>
		|         <tr>
		|             <th scope="col">Code</th>
		|             <th scope="col">Price</th>
		|         <tr>
		|     </thead>
		|     <tbody>
		|         <tr>
		|             <td>A001XXL</td>
		|             <td><p>$100<sup>00<sup></p></td>
		|         </tr>
		|         <tr>
		|             <td>A002XXL</td>
		|             <td><p>$110<sup>00<sup></p></td>
		|         </tr>
		|         <tr>
		|             <td>A003XXL</td>
		|             <td><p>$100<sup>00<sup></p></td>
		|         </tr>
		|     </tbody>
		| </table>
.clearfix