h1 Expando
p.updated
	| Documentation updated on 
	data December 14th
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#description") 1 Description
		dt
			a(href="#demo") 2 Demo
		dt
			a(href="#snippet") 3 Code snippet
		dt
			a(href="#instance") 4 Instance component
		dt
			a(href="#collapsed-by-default") 5 Collapsed by default
		dt
			a(href="#show-n-hide") 6 Show and Hide
		dt
			a(href="#callbacks") 7 Callbacks

h3#description Description
p
	| The Expando widget is member of the 
	a(href="/api/#{latest.version}/symbols/ch.Navs.html") Navs
	|  family. It has two parts, a descriptive text (something like a label) and a hidden block with extra information related to the label. The extra information is hidden and the user decide to show it clicking on the label.

h3#demo Demo
.box
	.demo_expando
		p Lorem ipsum dolor sit amet.
		div
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet purus in sapien luctus sodales. Curabitur dui velit, cursus in sagittis aliquam, dictum at neque. Ut gravida scelerisque lorem non pulvinar.

h3#snippet Snippet
pre
	| <div id="example">
	| 	<p>Lorem ipsum dolor sit amet.</p>
	| 	<div>
	| 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	| 	</div>
	| </div>

h3#instance Instance component
p
	| This is the way to create a new expando:
pre
	| var foo = $("#example").expando();

h3#collapsed-by-default Collapsed by default
p 
	| The default view is collapsed. But, it can change the 
	code open
	|  property that allows you to change the default state. You have to set this property to 
	code true
	| .
pre
	| var foo = $("#example").expando({"open": true});

h3#show-n-hide Show and Hide
p
	| All Navs expose some public methods called 
	code show
	|  and 
	code hide
	| , both allow you to manage the Expando behavior programmatically. Something like this:
pre
	| foo.show(); // Shows the content of Expando
	| foo.hide(); // Hides the content

h3#callbacks Callbacks
p
	| The component has two callbacks. Each one of those will be executed when the 
	code show
	|  or 
	code hide
	|  event are triggered.

!=partial("includes/keep-reading")

- script("code", '$(".demo_expando").expando();')