h1 Add an icon within a button
p.updated
	| Documentation updated on 
	data June 18th
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#demo") 1 Demo
		dt
			a(href="#markup") 2 Markup
		dt
			a(href="#styling") 3 Styling
		dt
			a(href="#overview") 4 Overview


h3#demo Demo
iframe.mobile-demo(src="/mobile/demos/icon-within-button", height="40")

h3#markup Markup
p
	| To start, you need to wrap your button into an inline element. For this example we'll use a 
	code span
	| .
p
	| Remember you can use any available element to convert into a button (
	a(href="/mobile/widgets/css-library#buttons") see examples
	| ).
p
	| Then, you have to add your custom class to the wrapper, for example 
	code ninja-demo
	|  and add an icon (you can use any 
	a(href="/mobile/widgets/css-library#icons") available icon
	| ):
pre
	| <span class="ninja-demo ch-icon-pencil">
	| 	<button class="ch-btn">Edit preferences</button>
	| </span>

h3#styling Styling
p It's quite simple. You need to follow 3 steps:
p 1. Position the wrapper as relative:
pre
	| .ninja-demo {
	| 	position: relative;
	| }
p 2. Position the icon anywhere, this way:
pre
	| .ninja-demo[class*="ch-icon-"]::before {
	| 	position: absolute;
	| 	top: 2px;
	| 	left: 10px;
	| 	color: #fff;
	| 	font-size: 1em;
	| }
p 3. Add an indent to the button text:
pre
	| .ch-btn-icon .ch-btn {
	| 	text-indent: 12px;
	| }

h3#overview Overview
strong CSS:
pre
	| .ninja-demo {
	| 	position: relative;
	| }
	| 
	| .ninja-demo[class*="ch-icon-"]::before {
	| 	position: absolute;
	| 	top: 2px;
	| 	left: 10px;
	| 	color: #fff;
	| 	font-size: 1em;
	| }
	| 
	| .ch-btn-icon .ch-btn {
	| 	text-indent: 12px;
	| }

strong HTML:
pre
	| <span class="ninja-demo ch-icon-pencil">
	| 	<button class="ch-btn">Edit preferences</button>
	| </span>