
.avatar {
    float: left;    
}

.activity {
    margin:0;
    background-color: #EEE;
    border-radius: 10px;
}

.activity li.clearfix {
    border: 1px solid #eee;
    color: #999;
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
}

.activity li.clearfix:hover {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #fefefe;
    border-top: 1px solid #fefefe;
    background-color: #fff;
	opacity: 1; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=100); /* IE lt 8 */
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-khtml-opacity: 1; /* Safari 1.x */
	-moz-opacity: 1; /* FF lt 1.5, Netscape */  
}

.activity li img {
    margin: 5px;
}

.activity li ul {
    padding-left: 40px;
}

.activity li ul li {
    color: #333;    
}

.activity .issueLabel {
    font-size: 0.75em;
    margin: 0 4px;
    padding: 2px 10px;
    border: 1px solid #ddd;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #333;
}
