
table {
    font-size: 1em;    
    margin: 15px 0;
}

table .description {
    margin: 5px 0;
}

#index ul {
    border: 2px solid #000;
}

#content {
    padding: 20px;    
}

.sectionTitle {
    font-size: 1.3em;
    margin: 14px 0 5px;
}

.description, .detailList {
    margin: 0 30px;
    color: #555;
}

.fixedFont {
    font-family: Courier New, monospace;
    margin: 5px;
}

.attributes {
    color: #bbb;    
}