/**
 * Commons
 */

body {
  font-family: 'Ubuntu', serif;
  font-style: normal;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  min-width: 760px;
  max-width: 1000px;
}

h2 {
	font-size: 2.0em;
	line-height: 1em;
}

h2, h3, h4 {
    font-weight: 300;
    font-family: 'PT Serif', serif;
}

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

h4 { font-size: 1.3em; }

.header {
    padding: 5px 0 0;
    position: relative;
}

.header ul {
	position: absolute;
	right: 0;
	top: 15px;
}

.header ul li {
    display:inline;	
    margin:0;
    padding: 0 10px;
    border-right: 1px solid #ccc;
}

.header ul li:last-child {
    border: none;
}

.header h1 {
    font-family: 'Kreon', serif;
    font-weight: 400;
	font-size: 4em;
    line-height: 1em;
	float:left;
}

.header .version {
    font-size: 14px;
    line-height: 1;
    margin-left: 10px;
}


/**
 * Home
 */

.home img {
	float:left;
	padding: 5px;
	margin: 5px;
}


.ninja {
    margin: -90px auto 0;
    width: 278px;
    z-index: 10;
}

.center {
    margin: 0 auto;    
}

.download-container {
    width: 250px;
}

.button {
    width: 250px;
}


/**
 * Bottoms and footers
 */

.bottom {
    color: #999;
    background-color: #eee;
    height: 100px;
    padding: 5px;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.bottom ul {
    padding: 5px;    
}

.bottom ul:hover {
    color: #333;    
}

.bottom ul:hover a {
    color: #000;    
}

.bottom a {
    color :#666;    
}

.footer {
	color:#666;
	clear: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	line-height: 1.3em;
}

.btn {
    font-family: 'Kreon', serif;
}