/**
 * Commons
 */

body {
  min-width: 760px;
  max-width: 1200px;
}

h1 {
  font-size: 2.0em;
  line-height: 1em;
}

h2, h3, h4, h5, h6{
	margin:1em 0 .5em 0;
}

p { margin:0 0 .5em 0; }

ol li { list-style-type: decimal; list-style-position: inside; }

.header {
	padding: 5px 0 0;
	position: relative;
}

.header ul {
	position: absolute;
	right: 0;
	top: 15px;
}

.header ul li {
	display:inline;	
	margin:0;
	padding: 0 10px;
	border-right: 1px solid #ccc;
}

.header ul li:last-child {
	border: none;
}

.header h1 {
	font-weight: 400;
	font-size: 4em;
	line-height: 1em;
	float:left;
	margin:0;
	padding-top:.5em;
}

.header .version {
	font-size: 14px;
	line-height: 1;
	margin-left: 10px;
}


/**
* Home
*/

.home img {
	float:left;
  padding: 5px;
  margin: 5px;
}

.home h3 {
	margin-bottom: 10px;
	margin-top:0px;
}

.home ul{
	margin-left:0px;
}

.overview{
	margin:0 0 2em 0;
}

.ninja {
  margin: -90px auto 0;
  width: 278px;
  z-index: 10;
}

.about {
	font-size: 16px;
	line-height: 22px;
	color: #444;
}
.center {
  margin: 0 auto;    
}


.download-container,
.introduction{
  width: 290px;
  margin-top:10px;
}

.download-container ul{
  margin:2em 0 0 0;
}

.download-container h2{
  margin:0;

}


.button {
	width: 250px;
	width: 100%;
}

.github {
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	border: 1px solid #999;
	cursor: pointer;
	overflow: visible;
	padding: 3px 9px;
	color: #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	height: 32px;
	line-height: 28px;	
}
.ui-components-demo{
	margin:0 20px 0 0;
	height:130px;
}

.ui-components-demo-list{
	
}

.ui-components-demo-list-item{
	width:92px;
	height:100px;
}

.ui-components-demo-list-item img,
.ui-components-demo-list-item span{
	display:block;
	margin:0 auto;
	text-align:center;
	padding:0;
	float:none;
	
}
.ui-components-demo-list-item img{
	width:64px;
	height:64px;
	margin-bottom:5px;
}
.ui-components-demo-list-item a span.rounded{
	overflow:hidden;
	display:block;
	width:64px;
	height:64px;
	border:solid 1px #cccccc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
.ui-components-demo-list-item a:hover span.rounded{
	border-top:solid 1px #ffffff;
	border-right:solid 1px #ffffff;
	border-bottom:solid 1px #cccccc;
	border-left:solid 1px #ffffff;
}
.ui-components-demo-list-item a img{
	display:block;
	opacity:0.7;
	
}
.ui-components-demo-list-item a:hover img{
	display:block;
	opacity:1;
}

.ui-components-demo-list-item a{
	display:block;
	padding:7px 0;
	color:#aaaaaa;
}
.ui-components-demo-list-item a:hover{
	background-color:#eeeeee;
	color:#333333;
	text-decoration:none;
}

.ui-components-demo .ch-next-arrow{top:20px;}

/**
 * Positioner
 */

.context {
    border: 1px solid blue;
    color: blue;
    text-align:center;
    line-height: 100px;
    height: 100px;
    margin: 30px;
    width: 100px;
    background-color:white;
}

.target {
    background-color: red;
    color: white;
    line-height: 25px;
    height: 25px;
    position: absolute;
    padding:0 10px;
}

/**
 * Bottoms and footers
 */

.bottom {
  color: #999;
  background-color: #eee;
  height: 100px;
  padding: 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.bottom ul {
  padding: 5px;    
}

.bottom ul:hover {
  color: #333;    
}

.bottom ul:hover a {
  color: #000;    
}

.bottom a {
  color :#666;    
}

.footer {
  color:#666;
  clear: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  line-height: 1.3em;
}


/*
	pre.code
*/
code,
.code {
	background-color: #FAFAFB;
	border: 1px solid #CACACA;
	margin: 1em 0 1em 0;
	padding: 10px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color:#393939;
	overflow:auto;
	font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

code {
	padding: 2px;
	margin:2px;
}

#members-tabs .ch-tabNavigator-triggers{
	margin:0 10px;	
}

.ch-expando.examples h4 {
	font-size:13px;
}

.ch-expando.examples .code {
	margin-left:2px;	
}

.details{
	margin:20px 0 40px;	
}

.details h2{
	margin:20px 0;
}

.details .visibility{
	font-size:13px;
	color:#CCC;
}

.member-details ul{
	padding:0;
	margin: 0 0 0 20px;
	list-style: disc;
} 
.details .description{
	margin:10px 0 0 10px;
}

.member-details{
	margin:5px 0 0 10px;
}

.member-details dt{
	color:#555;
	font-weight:bold;
}

.member-details dd{
	margin:	5px 0 10px 10px;
}

/* Demo specific */
.article-summary{
	float:right;
	position:relative;
	top:-40px;
	text-align:left;
	background-color:white;
	padding:10px;
	margin-left:10px;
}

.article-summary .container{
	margin-top:0;
	padding-top:5px;
	padding-right:0;
}

.article-summary-list{
	list-style-type:square;
}

.article-summary-title { font-size: 1.2em;}

.demo-carousel li{
	height:140px;
}

.demo_tabNavigator ul{
	margin-bottom:0;
}

.mesh-reset ul{margin:0;}

/**

	DOWNLOAD

*/

.disabled {
    color: #999;    
}

#versions {
	width: 200px;
}

/**
 * 	
 * MESH
 * 
 * */

ul.layouts {
	margin: 10px auto;
}

ul.layouts li {
	float: left;
	margin: 10px;
	text-align: center;
}

ul.layouts li img {
	border: none;
	margin: 0;
}

ul.layouts li p {
	padding: 0 5px;
}

.did-you-know {
	padding: 10px;
	border: 1px solid #ddd;
	background: #eee;
	margin: 20px;
}

.did-you-know h2 {
	background: url(../assets/lightbulb.png) no-repeat left center;
	padding: 10px 0 10px 35px;
	margin:0;
}

.did-you-know p{
	margin: 5px 10px;
}
.datagrid .ch-message {
	min-width: 200px;
}


/* Demo forms */

.ch-g3-4 .datagrid .code {
	max-width: 530px
}

.ch-g3-4 .datagrid .ch-form-row label {
	width:60px;
}

.ch-g3-4 .datagrid .ch-form-options .ch-form-row label {
	width:auto;
}

.ch-g3-4 .datagrid .ch-form-actions {
	margin-left:72px; 
}

.ch-g3-4 .datagrid textarea {
	width: 225px
}

#demoForm th.desc {
	width: 40%;
}

#demoForm .ch-form-hint {
	margin-left: 73px;
}

#demoForm td {
	padding-top: 10px;
	padding-bottom: 10px;
}

#example_form{position:relative;z-index:1;}