/*
*   General Styles
*/

/* Layout behavior */
html, body, .ch-layout {
    margin: 0 auto;
    width: 1000px;
}

a:visited {
    color: #0637B3;
}

/* Headings */
[role=main] h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

[role=main] h1 small {
    color:#ccc;
}

[role=main] h3 {
    font-size: 22px;
    margin: 35px 0 10px;
}

[role=main] h4 {
    font-size: 18px;
    margin: 30px 0 15px;
}

[role=main] h5 {
    font-size: 14px;
}

[role=main] nav .ch-rightcolumn h4 {
    margin-bottom: 10px;
}

[role=main] p {
    margin-bottom: 0.4em;
}

[role=main] nav .rightcolumn li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/*
*   Header
*/

header {
    border-bottom: 1px solid #eee;
    height: 62px;
}

header .logo {
    margin-top: 10px;
}

header .logo a {
    display: inline-block;
    font-size: 42px;
    line-height: 38px;
    margin: 2px 5px 0 0;
}

header .logo .version {
    color: #666;
    font-size: 12px;
}

/* Main navigation */
header nav {
    margin-top: 15px;
    text-align: right;
}

header nav ul {
    display: inline-block;
}

header nav form {
    display: inline;
    padding-left: 5px;
}

header nav label {
    display: none;
}

header nav li {
    border-right: 1px solid #ccc;
    display: inline;
    padding: 0 10px;
}

header nav li:last-child {
    border-right: none;
    padding-right: 0;
}

/* TODO: fix transition */
#q {
    border-radius: 20px;
    -webkit-transition: width 0.25s;
    -moz-transition: width 0.25s;
    -ms-transition: width 0.25s;
    -o-transition: width 0.25s;
    transition: width 0.25s;
    width:125px;
    padding-left:5px;
}

#q:focus {
    width: 200px;
}


/*
*   Homepage Description
*/

#home-description,
#home-description canvas {
    /* Grey background: -webkit-linear-gradient(top, #f5f5f5 0%, #fff 10%, #fff 90%, #f5f5f5);
    /* Blue sky background: -webkit-linear-gradient(top, #2B81C0 0%, #BEDCEF 100%); */
    /* Light blue background: -webkit-linear-gradient(top, #7487B6 0%, #B1D6E7 100%); */
    background: #292A2F url('/src/assets/vertical_cloth.png') 0 0 repeat;
    -webkit-box-shadow: 0 5px 25px #000 inset;
    box-shadow: 0 5px 25px #000 inset;
    left: 0;
    position: absolute;
}

#home-description {
    border-bottom: 1px solid #222;
    height: 390px;
    overflow: hidden;
    top: 62px;
    width: 100%;
}

#home-description canvas {
    top: 0;
}

#home-description div {
    /*background: transparent url('/src/assets/ninja.png') right bottom no-repeat;*/
    font-family: "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    height: 390px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#home-description h2,
#home-description p {
    margin-left: 10px;
    width: 50%;
    color: #fff;
}

#home-description h2 {
    font-size: 64px;
    line-height: 72px;
    margin-top: 50px;
    margin-bottom: 22px;
}

#home-description p {
    font-size: 16px;
    line-height: 26px;
    padding: 0 3px;
    margin-bottom: 24px;
}

#home-description a {
    margin-left: 12px;
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

#ninja-img {
    position:absolute;
    right:0;
    bottom:0;
}

/*
*   Homepage additional navigation
*/

#additional {
    overflow: hidden;
    margin-top: 360px;
}

#additional h4 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 10px;
}

#additional img {
    float: left;
    margin-right: 10px;
}

/*
*   Footer
*/

footer {
    border-top: 1px dashed #ccc;
    color: #999;
    font-size: 11px;
    margin-top: 35px;
    overflow: hidden;
    padding: 10px 0;
    clear: left;
}

footer nav li {
    border-right: 1px solid #ccc;
    display: inline;
    padding: 0 10px;
}

footer nav li:last-child {
    border: none;
}

footer aside {
    position: relative;
}


footer div {
    width: 85px!important;
    position: absolute;
    top: 0;
    right: 185px;
}

footer .twitter-share-button {
    width: 95px!important;
    position: absolute;
    top: 0;
    right: 90px;
}

footer .fb-frame {
    width: 85px;
    position: absolute;
    top: 0;
    right: 0;
}



/*
*   Innerpages
*/

[role=main] {
    margin-top: 30px;
    overflow: hidden;
}

[role=main] .ch-g4-5 > .ch-leftcolumn {
    margin-right: 50px;
}

.breadcrumb {
    margin-bottom: 15px;
}

[role=main] .updated {
    color: #999;
    font-size: 11px;
}

[role=main] .updated + h3 {
    margin-top: 20px !important;
}

.home-list {
    margin-top: 25px;
}

pre,
code {
    font-family: Monaco, "Courier New", monospace;
    font-size: 12px;
    background-color: #f8f8f8;
    color: #333;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 7px 10px;
    border-radius: 3px;
}

pre{
    clear:both;
}

.terminal {
    background-color: #444;
    color: #fff;
    border: 2px solid #dedede;
}

code {
    margin: 2px;
    padding: 2px;
}

nav .ch-rightcolumn {
    margin-bottom: 0 0 40px 20px;
}

nav .ch-rightcolumn ul {
    margin: 5px 0 30px;
}

/*
*   About
*/

.about iframe {
    margin-top: 35px;
}

.about dd {
    margin-bottom: 20px;
}

/*
*   Blog
*/

.chico-blog#home-description {
    height:100px;
}

.chico-blog#home-description div {
    /*background-position:-78px -104px;*/
    height: 100px;
}

.chico-blog#home-description h2 {
    margin-left: 310px;
    width: 50%;
    color: #fff;
    font-size: 42px;
    line-height: 100px;
    margin-top:0;
    position:relative;
    z-index:2;
}

.chico-blog#home-description input {
    position: absolute;
    top:27px;
    right:0;
}

.chico-blog #ninja-img {
    right:582px;
    bottom:-156px;
}