
.ch-g1.section
	.ch-g1-3
		h1 About the project
		p.container
			| Chico is a 
			strong free 
			| and 
			strong open source 
			| collection of 
			em easy-to-use 
			| web toys for developers and designers.
			| Built on top of 
			a(href='http://www.jquery.com',rel='nofollow') jQuery
			| , this toolbox brings a couple of known visual patterns
			| for the web and takes advantages of the new HTML5 and CSS3 features. We want to 
			a(href='http://github.com/mercadolibre/chico',rel='nofollow') share this tool 
			| with the world to help making the web more beautiful.
			
	.ch-g1-3        
		.ninja
			img(src='src/assets/ninja.jpg')
			
	.ch-g1-3
		h2 Team Members
		ul.container
			li
				strong Hernán Mammana
				|  (
				a(href='http://twitter.com/#!/hmammana') @hmammana
				|  ) he loves front-end development as well as inline skating, meditation, video clips and electronic music.
			li
				strong Leandro Linares
				|  (
				a(href='http://twitter.com/#!/lean8086') @lean8086
				|  ) Frontend developer from Buenos Aires, Argentina.
			li
				strong Guillermo Paz
				|  (
				a(href='http://twitter.com/#!/pazguille') @pazguille
				|  ) var me = "I'm a front end developer. I love the web and to make it better. I like to play games (ps3) and to watch TV series and movies." return me; :D
			li
				strong Natalia Devalle
				|  (
				a(href='http://twitter.com/#!/taly') @taly
				|  ) UX Designer, Photographer wannabe, music addict, sci-fi fan and you may say that I'm a dreamer (but I'm not the only one).

.clearfix
hr.clearfix

.ch-g1-2
	h4 Thanks to
	ul.container
		li
			strong Leandro Quintana
			|  Web designer from Buenos Aires, Argentina.
		li
			strong Patricia Martins
			|  Web designer from Buenos Aires, Argentina.
.ch-g1-2
	h4 Past Members
	ul.container
		li
			strong Natan Santolo
			|  (
			a(href='http://twitter.com/#!/natos')@natos
			|  ) Creator and former leader, now is traveling around the world, drinking beer and looking for the secret of eternal life.

.clearfix