h1 About us

.ch-g1-2
	.about.ch-leftcolumn
		h3 About the project
		p
			| MercadoLibre's a big and complex web site with a lot of needs.
		p
			| Every development and design team needed to be able to build quality and consistent web apps using an agile development process.
		p
			| So we had to find a way to unify the process and guarantee design pattern and user experience quality for every team. And Chico was born.
		iframe(src="http://www.slideshare.net/slideshow/embed_code/9311396", width="460", height="384", frameborder="0", marginwidth="0", marginheight="0", scrolling="no")

.ch-g1-2
	.about.ch-rightcolumn
		h3 About the humans
		dl.ch-container
			dt
				strong Hernán Mammana 
				a(href="http://twitter.com/#!/hmammana") @hmammana
			dd
				| He loves front-end development as well as inline skating, meditation, video clips and electronic music.
			dt
				strong Leandro Linares 
				a(href="http://twitter.com/#!/lean8086") @lean8086
			dd
				| Frontend developer from Buenos Aires, Argentina.
			dt
				strong Guillermo Paz 
				a(href="http://twitter.com/#!/pazguille") @pazguille
			dd
				| var me = "I'm a front end developer. I love the web and to make it better. I like to play games (ps3) and to watch TV series and movies." return me; :D
			dt
				strong Natalia Devalle 
				a(href="http://twitter.com/#!/taly") @taly
			dd
				| UX Designer, Photographer wannabe, music addict, sci-fi fan and you may say that I'm a dreamer (but I'm not the only one).

		h4 Thanks to
		p
			strong Leandro Quintana
			|  Web designer from Buenos Aires, Argentina.
		p
			strong Patricia Martins
			|  Web designer from Buenos Aires, Argentina.

		h4 Past Members
		dl
			dt
				strong Natan Santolo 
				a(href="http://twitter.com/#!/natos") @natos
			dd
				| Creator and former leader, now is traveling around the world, drinking beer and looking for the secret of eternal life.

.clearfix