h1
	| Archive
p.updated
	| Data updated on 
	a(href="http://blog.chico-ui.com.ar/tagged/Release_Notes") each release
	| .

.ch-g1-2
	h3 Chico UI
	- each v in versions
		h4= v.version
		ul.ch-list
		- each file in v.files
			li
				a(href="#{file.href}", target="_blank")= file.name

.ch-g1-2
	h3 Chico Mesh
	
	h4 2.1
	ul.ch-list
		li
			a(href="/versions/mesh/2.1/mesh-2.1.css", target="_blank") mesh-2.1.css
		li
			a(href="/versions/mesh/2.1/mesh-min-2.1.css", target="_blank") mesh-min-2.1.css

	h4 2.0
	ul.ch-list
		li
			a(href="/versions/mesh/2.0/mesh-2.0.css", target="_blank") mesh-2.0.css
		li
			a(href="/versions/mesh/2.0/mesh-min-2.0.css", target="_blank") mesh-min-2.0.css

	h4 1.0
	ul.ch-list
		li
			a(href="/versions/mesh/1.0/mesh-1.0.css", target="_blank") mesh-1.0.css
		li
			a(href="/versions/mesh/1.0/mesh-min-1.0.css", target="_blank") mesh-min-1.0.css