h1 Discuss

.ch-g1-2
	.leftcolumn
		h3 Google Group
		form(action="http://groups.google.com/group/chico-ui/boxsubscribe")
			p
				| Post all your thoughts and doubts on our 
				a(href="http://groups.google.com/group/chico-ui", rel="nofollow") Google Group
				| .
			p
				|Subscribe yourself on our mailing list:
			input(type="text", name="email", placeholder="ninja@chicoui.com.ar")
			input.ch-btn.ch-secondary.ch-skin(type="submit", name="sub", value="Subscribe")
.ch-g1-2
	.rightcolumn
		h3 IRC Chat
		p
			| There's a chat room available on 
			a(href="http://freenode.net/", rel="nofollow") freenode.net
			|  servers. Is a quiet place, but you can find Chico team there during office hours, from 9 to 18hs (GMT-3).
		ul.ch-list
			li
				strong Server:
				|  irc.freenode.net
			li
				strong Room:
				|  #chicoui

.clearfix

.ch-g1-2
	.leftcolumn
		h3 Social ninja
		p
			| Follow 
			a(href="http://twitter.com/#!/chicoui", rel="nofollow") @chicoui
			|  on Twitter to get information about releases and new features. Also we have a Facebook
			a(href="http://www.facebook.com/pages/Chico-UI/189546681062056", rel="nofollow") product page
			|.

.ch-g1-2
	.rightcolumn
		h3 Issue tracker
		p
			| You can easily report problems, like bugs or typos through our 
			a(href="https://github.com/mercadolibre/chico/issues?milestone=23&sort=created&direction=desc&state=open", rel="nofollow") issue tracker
			| , or simply write a tweet to 
			a(href="http://twitter.com/#!/chicoui", rel="nofollow") @chicoui
			|.

.clearfix