h1 Discuss

.ch-g1-2
	.ch-leftcolumn
		h3 Google Group
		form(action="http://groups.google.com/group/chico-ui/boxsubscribe")
			p
				| Post all your thoughts and doubts on our 
				a(href="http://groups.google.com/group/chico-ui", rel="nofollow") Google Group
				| .
			p
				|Subscribe yourself on our mailing list:
			input(type="text", name="email", placeholder="ninja@chicoui.com.ar")
			input.ch-btn-skin.ch-btn-small(type="submit", name="sub", value="Subscribe")
.ch-g1-2
	.ch-rightcolumn
		h3 Social ninja
		p
			| Follow 
			a(href="http://twitter.com/#!/chicoui", rel="nofollow") @chicoui
			|  on Twitter to get information about releases and new features. Also we have a 
			a(href="http://www.facebook.com/pages/Chico-UI/189546681062056", rel="nofollow") Facebook page
			| .

.clearfix

.ch-g1-2
	.ch-leftcolumn
		h3 Issue tracker
		p
			| You can easily report problems, like bugs or typos through our 
			a(href="https://github.com/mercadolibre/chico/issues?milestone=23&sort=created&direction=desc&state=open", rel="nofollow") issue tracker
			| , or simply write a tweet to 
			a(href="http://twitter.com/#!/chicoui", rel="nofollow") @chicoui
			|.

.ch-g1-2
	.ch-rightcolumn
		h3 Public repository
		p
			| Forking the Chico UI's 
			a(href="https://github.com/mercadolibre/chico", rel="nofollow") repo on GitHub
			|  you can collaborate adding new features, creating plug-ins or simply solving problems.

.clearfix