
.ch-g1.section
	.ch-g1-3
		h1 Discussion group
		form.container(action="http://groups.google.com/group/chico-ui/boxsubscribe")
			p
				| Post all your thoughts and doubts on our 
				a(href="http://groups.google.com/group/chico-ui", rel="nofollow") Google Group.
				| Subscribe yourself on our mailing list:
			input(type="text", name="email",placeholder="ninja@chicoui.com.ar")
			input(type="submit", name="sub", value="Subscribe").btn.secondary.skin

		h3 IRC Chat
		p.container
			| There's a chat room available on 
			a(href="http://freenode.net/", rel="nofollow") freenode.net
			|  servers. Is a quiet place, but you can find Chico team there
			| during office hours, from 9 to 18hs (GMT-3).
			br
			strong Server: 
			| irc.freenode.net
			br
			strong Room: 
			| #chicoui


	.ch-g1-3        
		.ninja
			img(src='src/assets/ninja.jpg')

	.ch-g1-3
		h2 Social ninja
		p.container
			| Follow 
			a(href="http://twitter.com/#!/chicoui", rel="nofollow") @chicoui
			|  on Twitter to get information about releases and new features.
			| Also we have a Facebook
			a(href="http://www.facebook.com/pages/Chico-UI/189546681062056", rel="nofollow") product page
			| .


		h2 Issue tracker
		p.container
			| You can easily report problems, like bugs or typos through our 
			a(href='https://github.com/mercadolibre/chico/issues?milestone=23&sort=created&direction=desc&state=open', rel="nofollow") issue tracker
			| , or simply write a twitt to 
			a(href='http://twitter.com/#!/chicoui', rel="nofollow") @chicoui
			| .
hr.clearfix