
link(rel='stylesheet', href='/src/css/download.css')

h2 Download
.ch-g1-4
	ul#versions
		- each item in versions
			li 
				span #{item.version}
				ul
					- each file in item.files
						li
							a(href='#{file.href}') #{file.label}

.ch-g3-4
	form#custom(action='/download', method='POST').box
		h3 Build custom package 
			span (beta)
		p
			| Current version 
			span.version
				#{latest.version}
		.ch-g1-3
			.rightcolumn
				fieldset
						legend Abstracts
						.options
							ul#abstracts.disabled
						.clearfix
						hr(width='50%',align="left")
						legend Utils
						.options
							ul#utils
		.ch-g1-3
			.centercolumn
				fieldset
					legend Components
					.options.toggle
						ul#components
		.ch-g1-3
			.leftcolumn
				fieldset					
					legend Dependencies
					.options.toggle
						ul
							li
								label
									input(type='checkbox', value='true', name='jquery', checked='checked')
									span
									|	jQuery 
									small (min)
							li
								label
									input(type='checkbox', value='true', name='belated', checked='checked')
									span
									|	DD_belatedPNG
									small (png fix)
							//li
							//	label
							//		input(type='checkbox', value='true', name='embed', checked='checked')
							//		span
							//		|	Embed sprites
					
					hr(width='50%',align="left")
					
					legend Extras
					.options
						ul
							li
								label
									input(type='checkbox', value='true', name='mesh', checked='checked')
									span
									|	Include 
									a(href='/docs/how-to/mesh-your-layout-in-5-min') Mesh

					hr(width='50%',align="left") 
					legend Environment
					.options
						ul
							li
								label
									input(type='checkbox', value='p', name='env', checked='checked')
									span
										|	Production
										small (minified)
							li
								label
									input(type='checkbox', value='d', name='env', checked='checked')
									span
										|	Development
										small (with comments)

					hr(width='50%',align="left")

					legend Select a Flavor
					.options
						ul
							li
								label(for='ml_theme')
									input#ml_theme(type='radio', value='ml', name='flavor', checked='checked')
									span
									|	MercadoLibre
							li
								label(for='mp_theme').disabled
									input#mp_theme(type='radio', value='mp', name='flavor', disabled='disabled')
									span
									|	MercadoPago 
									small (soon)
							li
								label(for='ms_theme').disabled
									input#ms_theme(type='radio', value='ms', name='flavor', disabled='disabled')
									span
									|	MercadoShops 
									small (soon)

					hr(width='50%',align="left")
					input.btn.primary(type='submit', value='Download')
		.clearfix

		- getScript("/src/js/custom-download.js")