h1
	| Custom Download
	small(style="color:#ccc;") (beta)

article.ch-g4-5
	.leftcolumn
		p.updated
			| Current version: v#{latest.version}

		form#custom.box(action="/download", method="POST")
			.ch-g1-3
				.leftcolumn
					fieldset
						legend Abstracts
						.options
							ul#abstracts.disabled
					fieldset
						legend Utilities
						.options
							ul#utils
			.ch-g1-3
				fieldset.centercolumn
					legend Widgets
					.options.toggle
						ul#components
			.ch-g1-3
				.rightcolumn
					fieldset
						legend Dependencies
						.options.toggle
							ul.ch-form-options
								li.ch-form-row
									input#jquery(type="checkbox", value="true", name="jquery", checked)
									label(for="jquery")
										| jQuery
										small (min)
								//li.ch-form-row
								//	input#embed(type="checkbox", value="true", name="embed", checked)
								//	label(for="embed") Embed assets
					fieldset
						legend Extras
						.options
							ul.ch-form-options
								li.ch-form-row
									input#mesh(type="checkbox", value="true", name="mesh", checked)
									label(for="mesh")
										| Include 
										a(href="/mesh") Chico Mesh
					fieldset
						legend Environment
						.options
							ul.ch-form-options
								li.ch-form-row
									input#produ(type="checkbox", value="p", name="env", checked)
									label(for="produ")
										| Production 
										small (minified)
								li.ch-form-row
									input#desa(type="checkbox", value="d", name="env", checked)
									label(for="desa")
										| Development 
										small (with comments)
					fieldset
						legend Select a Flavor
						.options
							ul.ch-form-options
								li.ch-form-row
									input#ml_theme(type="radio", value="ml", name="flavor", checked)
									label(for="ml_theme")
										| MercadoLibre
								li.ch-form-row
									input#mp_theme(type="radio", value="mp", name="flavor", disabled)
									label(for="mp_theme").disabled
										| MercadoPago 
										small (soon)
								li.ch-form-row
									input#ms_theme(type="radio", value="ms", name="flavor", disabled)
									label(for="ms_theme").disabled
										| MercadoShops 
										small (soon)
					input.ch-btn.ch-main(type="submit", value="Download")

nav.ch-g1-5
	.rightcolumn
		h4 Older versions
		ul#versions.ch-menu
			- each item, i in versions
				- if (i < 17)
					li 
						span #{item.version}
						ul
							- each file in item.files
								li
									a(href="#{file.href}") #{file.label}

- script("get", "/src/js/custom-download.js")