h1
	| Download
	small (beta)
p.updated
	| Current version: v#{latest.version}

article.ch-g4-5
	.ch-leftcolumn

		form#custom.box(action="/download", method="POST")
			.ch-g1-3
				.ch-leftcolumn
					fieldset
						legend Abstracts
						.options
							ul#abstracts.disabled
					fieldset
						legend Utilities
						.options
							ul#utils
			.ch-g1-3
				fieldset.ch-centercolumn
					legend Widgets
					.options.toggle
						ul#components
			.ch-g1-3
				.ch-rightcolumn
					fieldset
						legend Dependencies
						.options.toggle
							ul.ch-form-options
								li.ch-form-row
									input#jquery(type="checkbox", value="true", name="jquery", checked, disabled)
									label(for="jquery")
										| jQuery
										small (min)
					fieldset
						legend Extras
						.options
							ul.ch-form-options
								li.ch-form-row
									input#mesh(type="checkbox", value="true", name="mesh", checked)
									label(for="mesh")
										| Include 
										a(href="/mesh") Chico Mesh
					fieldset
						legend Environment
						.options
							ul.ch-form-options
								li.ch-form-row
									input#produ(type="checkbox", value="p", name="env", checked)
									label(for="produ")
										| Production 
										small (minified)
								li.ch-form-row
									input#desa(type="checkbox", value="d", name="env", checked)
									label(for="desa")
										| Development 
										small (with comments)
					fieldset
						legend Select a Flavor
						.options
							ul.ch-form-options
								li.ch-form-row
									input#ml_theme(type="radio", value="ml", name="flavor", checked)
									label(for="ml_theme")
										| MercadoLibre
								li.ch-form-row
									input#mp_theme(type="radio", value="mp", name="flavor", disabled)
									label(for="mp_theme").disabled
										| MercadoPago 
										small (soon)
					input.ch-btn.ch-btn-big(type="submit", value="Download")

nav.ch-g1-5
	.ch-rightcolumn
		h4 Older versions
		ul#versions.ch-menu
			- each item, i in versions
				- if (i < 17)
					li 
						span #{item.version}
						ul
							- each file in item.files
								- if (file.label !== ".DS_Store")
									li
										a(href="#{file.href}") #{file.label}

- script("get", "/src/js/custom-download.js")