
.ch-g1

    .ch-g1-2
        h2 Getting started.
        p.container
            | Chico is a collection of easy-to-use UI components for web developers and designers.
            | Built on top of jQuery, this open source toolbox brings a couple of known visual patterns
            | for the web and takes advantages of the new HTML5 and CSS3 features. We want to share
            | this tool to help making the web more beautiful.
        form.container(action='/getting-started')
            input.btn.primary.button.center(type='submit', value='Getting Started')


    .clearfix
    div.container.home
      ul
        li.ch-g1-3
          h3 UI Components
          p
          | We want to collaborate to make the web more beautiful, with HTML, CSS,
          | JavaScript.
        li.ch-g1-3
          h3 Flavor your components
          p Still supporting old browsers: IE7+, FF3+, Chrome, Safari, Opera.
        li.ch-g1-3
          h3 Mesh your layouts
          p We believe in the open source, you can play with Chico's code, is in 
            a(href='https://github.com/mercadolibre/chico/') github.
        .clearfix
  
hr.clearfix