
.ch-g1

  .ch-g2-3
    h2 Getting started.
    p.container
        | Chico works based on CSS Queries to DOM Objects, like jQuery does.
        | Each UI component has a different HTML Snippet, make sure you are
        | using the right code before pop a question.
    form.container(action='/getting-started')
        input.btn.primary.button.center(type='submit', value='Getting Started')
  .ch-g1-3
    h2 How-to...
    ul.container
      li 
        a(href='/how-to/create-a-comonent') How-to create a component
      li 
        a(href='/how-to/create-a-theme') How-to create a theme
      li 
        a(href='/how-to/mesh-in-5-min') How-to mesh in 5 min
      li 
        a(hre='/how-to/collaborate') How-to collaborate

.clearfix
div.container.home
    ul
    li.ch-g1-3
        h3 Dependencies
        ul
          li HTML5
          li jQuery
          li IE conditional comments
          li dd_belatedpng.js
    li.ch-g1-3
        h3 Flavor your components
        p Still supporting old browsers: IE7+, FF3+, Chrome, Safari, Opera.
    li.ch-g1-3
        h3 Mesh your layouts
        p We believe in the open source, you can play with Chico's code, is in 
        a(href='https://github.com/mercadolibre/chico/') github.
    .clearfix
  
hr.clearfix