.container
  .ch-g2-3
    .ch-g1-2
        .leftcolumn
        h2 Build your web app in a few minutes.
        p
            | The main goal is to improve and accelerate the development process. Built on top
            | of jQuery, this open source toolbox brings a couple of known visual patterns for
            | the web and takes advantages of the new HTML5 and CSS3 features. We want to share
            | this tool with all designers and developers to help making the web more
            | beautiful.
        p
            | You can get in touch with us through
            a(href='mailto:chico@mercadolibre.com') Email
            | ,
            a(href='https://groups.google.com/group/chico-ui') Google Groups
            | ,
            a(href='http://twitter.com/chicoui') Twitter
            | or
            a(href='http://www.facebook.com/pages/Chico-UI/189546681062056') Faceboook
            | . Also you can see our
            a(href='https://github.com/mercadolibre/chico/') coding in Github
            | , or grab the project in either
            a(href='http://github.com/mercadolibre/chico/zipball/master') zip
            | or
            a(href='http://github.com/mercadolibre/chico/tarball/master') tar
            | formats.
        .container
            form(action='http://download.chico-ui.com.ar/lastest')
            input.btn.primary.skin(type='submit', value='Download lastest version')
            p
            | Current
            a.version(href='http://download.chico-ui.com.ar/')
            | , see
            a(href='http://download.chico-ui.com.ar/') older versions
    .ch-g1-2
      .ninja
        img(src='src/assets/ninja.jpg')
    .ch-g1
      .home.box.rightcolumn
        ul.carousel
            li
              a(href='http://www.w3.org/html/logo/')
                img(alt='HTML5', src='http://www.w3.org/html/logo/badge/html5-badge-h-solo.png')
              h3 We love the open web.
              p
                | We want to collaborate to make the web more beautiful, with HTML5, CSS3,
                | JavaScript.
            li
              a(href='http://opensource.org/')
                img(alt='Open Source Initiative', src='src/assets/opensource.png')
              h3 Open source
              p We believe in the open source, you can play with Chico's code is in github.
            li
              img(src='src/assets/web-browsers.jpg')
              h3 Crossbrowsing
              p Still supporting old browsers: IE6+, FF2+, Chrome, Safari, Opera.
  .ch-g1-3
    .activity.container.rightcolumn
        // Github Activity Widget 
.clearfix
hr
.ch-g1
  .bottom
    ul.ch-g1-8.rightcolumn
      li
        h3 Download
      li
        a(href='pages/required/') Current release
      li
        a(href='pages/required/') Past releases
      li
        a(href='https://github.com/mercadolibre/chico/') Source code
    ul.ch-g1-8
      li
        h3 Getting started
      li
        a(href='pages/install') How to install
      li
        a(href='pages/css') Using Chico-UI
      li
        a(href='pages/grid') Layout with Mesh
    ul.ch-g1-8
      li
        h3 Docs
      li
        a(href='pages/carousel/') API Reference
      li
        a(href='pages/carousel/') How to install
      li
        a(href='pages/carousel/') Examples
    ul.ch-g1-8
      li
        h3 Support
      li
        a(href='faq') FAQ
      li
        a(href='https://github.com/mercadolibre/chico/issues') Issue tracker
      li
        a(href='https://groups.google.com/group/chico-ui') Mailing list
    ul.ch-g1-8
      li
        h3 Get in touch
      li
        a(href='http://twitter.com/chicoui') on Twitter
      li
        a(href='http://www.facebook.com/pages/Chico-UI/189546681062056') on Facebook
      li
        a(href='https://groups.google.com/group/chico-ui') our Google Group
    ul.ch-g1-8
      li
        h3 About
      li
        a(href='about/the-project') The project
      li
        a(href='about/the-team') The team
      li
        a(href='about/collaborate') Collaborate ;)
.clearfix
hr
p.footer
    | ©2011 Chico-UI by
    a(href='http://www.mercadolibre.com') MercadoLibre
    | .