section#home-description
    .ch-layout
        h2 Get things done, quickly
        p Chico UI is a free and open source collection of easy-to-use web tools for developers and designers.

        a.ch-btn.ch-btn-big(href="/guides/get-started") Get started now!

        img#ninja-img.ch-hide(src="/src/assets/ninja.png", alt="Ninja image", width="496", height="360")

section#additional
    article.ch-g2-5
        .ch-leftcolumn
            h3 UI Components
            p In the documentation you'll find how to create, administrate or extend any component.
            a(href="http://chico.mercadolibre.com") Read API Documentation

    article.ch-g2-5
        .ch-centercolumn
            h3 Chico Mesh
            p Provides a set of CSS columns that makes the laying out of a website easy and fast.
            a(href="/mesh") Check it out!

    article.ch-g1-5
        .ch-rightcolumn
            h3 Also
            ul
                li
                    a(href="https://github.com/mercadolibre/chico/issues") Issue tracker
                li
                    a(href="http://blog.chico-ui.com.ar/tagged/Release_Notes") Releases Notes
                li
                    a(href="license") License

- script("get", '/src/js/canvas.min.js')
- script("code", 'ch.onImagesLoads($("#ninja-img"), function () { $(this).fadeIn("fast"); $("canvas").fadeIn(1000); });')