.ch-g1.overview.section
	.ch-g1-3
		h1 Get things done, quickly
		p.container
			| Chico is a collection of 
			em easy-to-use 
			| web toys for developers and designers.
			| Built on top of 
			a(href='http://www.jquery.com',rel='nofollow') jQuery
			| , this open source toolbox brings a couple of known visual patterns
			| for the web and takes advantages of the new HTML5 and CSS3 features. We want to 
			a(href='http://github.com/mercadolibre/chico',rel='nofollow') share this tool 
			| to help making the web more beautiful.
		form.container(action='/getting-started')
			input.btn.primary.button(type='submit', value='Getting Started')
	.ch-g1-3        
		.ninja
			img(src='src/assets/ninja.jpg')
	.ch-g1-3
		div.download-container.center
			h2 
				| Get lastest version 
				
			p.container
				| Version
				span.version
				| . Get 
				a(href='http://download.chico-ui.com.ar/') older versions
			form(action='/download')
				fieldset
					ul
						li.field-box
							input.btn.secondary.skin.button(type='submit', value='Download full package')
					ul
						li.field-box
							input.btn.primary.button(type='submit', value='Build custom download')
					
						
					
					
					
					
						//-p
						//-a(href='/api/index.html') API Reference
						//-|,
						//-a(href='/discussion') Discussion
						//-|,
						//-a(href='/docs/how-to/report-a-bug') Report a bug
						//-|.
						
hr.clearfix
div.container.home
	ul.clearfix
		li.ch-g1-4
			h3 UI Components
			p
				a(href='/docs/demos/tooltip') Tooltip
				|,
				a(href='/docs/demos/layer') Layer
				|, 
				a(href='/docs/demos/modal') Modal
				|,
				a(href='/docs/demos/calendar') Calendar
				|,
				a(href='/docs/demos/carousel') Carousel
				|,
				a(href='/docs/demos/tabnavigator') TabNavigator
				|,
				a(href='/docs/demos/accordion') Accordion
				|, 
				a(href='/docs/demos/menu') Menu
				|, 
				a(href='/docs/demos/expando') Expando
				|,
				a(href='/docs/demos/zoom') Zoom
				|, 
				a(href='/docs/demos/form') Form 
				|,
				br
				a(href='/docs/demos/watcher') Validator
				|, and 
				a(href='/docs/demos') more...
		li.ch-g1-4
			h3 Flavor your components
			ul 
				li 
					a(href='/flavors/browse') Browse Flavors
				li 
					a(href='/docs/how-to/create-a-theme') How-to create a theme
				li 
					a(href='/flavors/design-playbook') Design playbook
		li.ch-g1-4
			h3 Mesh-up your layouts
			ul
				li 
					a(href='/docs/how-to/mesh-your-layout-in-5-min') How-to mesh in 5 min
				li 
					a(href='/mesh/layouts') Wide adjustable and fixed layouts
				li 
					a(href='/mesh/examples') Gallery and examples
		
		li.ch-g1-4  
			h3 Developers
			ul
				li 
					a(href='/docs/how-to/create-a-component') How-to create a component
				li 
					a(href='/docs/how-to/collaborate') How-to collaborate
				li 
					a(href='/api/index.html') API documentation
				li 
					a(href='http://github.com/mercadolibre/chico',rel='nofollow') Github repository
				li 
					a(href='/docs/how-to/report-a-bug') How-to report a bug

hr.clearfix
div.container.home
	ul
		li.ch-g1-3
			a(href='http://www.w3.org/html/logo/',rel='nofollow')
				img(alt='HTML5', src='http://www.w3.org/html/logo/badge/html5-badge-h-solo.png')
			h3 We love the open web
			p
				| We want to collaborate to make the web more beautiful, with HTML, CSS,
				| JavaScript.
		li.ch-g1-3
			img(src='src/assets/web-browsers.jpg')
			h3 Cross browser
			p Still supporting old browsers: IE6+, FF3+, Chrome, Safari, Opera.
			/if lt IE 7 
				p You are using a really really old browser! Please, try to upgrade the thing and help engineers to push the web forward, much further than you think!
		li.ch-g1-3
			a(href='http://opensource.org/',rel='nofollow')
				img(alt='Open Source Initiative', src='src/assets/opensource.png')
			h3 Open source
			p 
				| Released under
				a(href='https://raw.github.com/mercadolibre/chico/bc982b922d041057c9dde9566536ebfb517d1a70/LICENSE.txt', title='It means you can use it and modify it as you like.',rel='nofollow') MIT Licence!
				| We are sharing our work like other cool projects like jQuery, NodeJS, Apache.
.clearfix

//script(type='text/javascript', src='/src/js/index.js')
//script(type='text/javascript', src='/src/js/activity-widget.js')