.ch-g1.section
	.ch-g2-3	
		.leftcolumn
			h1 Chico Mesh
			p.container.about
				| Mesh is Chico UI's solution for fast and simple layouts. 
				| It offers fluid grids along with a gallery of ready to use basic templates.
			
			hr
			h2 Fluid Layouts
		
			ul.layouts
				li
					img(src='src/assets/layouts/fluid-2columns-leftsidebar.png')
					p 
						a(href="/mesh/demos/fluid-2columns-leftsidebar.html", target="blank") Demo
						|  |
						a(href="/mesh/download/fluid-2columns-leftsidebar.zip") Download
				li
					img(src='src/assets/layouts/fluid-2columns-rightsidebar.png')
					p 
						a(href="#") Demo
						|  |
						a(href="#") Download
				li
					img(src='src/assets/layouts/fluid-3columns.png')
					p 
						a(href="#") Demo
						|  |
						a(href="#") Download
			.clearfix	
			hr	
			h2 Elastic Layouts	
		
			ul.layouts
				li
					img(src='src/assets/layouts/elastic-2columns-leftsidebar.png')
					p 
						a(href="#") Demo
						|  |
						a(href="#") Download
				li
					img(src='src/assets/layouts/elastic-2columns-rightsidebar.png')
					p 
						a(href="#") Demo
						|  |
						a(href="#") Download
				li
					img(src='src/assets/layouts/elastic-3columns.png')
					p 
						a(href="#") Demo
						|  |
						a(href="#") Download
	
	.ch-g1-3
		.did-you-know.rightcolumn
			h2 Did you know...
			p 
				|... you can build your own fluid layouts with our grid system? Find out 
				a(href="#") how to mesh your layout in 5 minutes
				|.
		
			
.clearfix