h1 Chico Mesh
p
	| Mesh provides a set of CSS columns that makes the laying out of a website easy and fast.
p
	| It isn't part of the CSS core, that's why you have to download the file and reference it on your HTML document:
ul.ch-list
	li
		strong Production
		|  (Minified): 
		a(href="/versions/latest/chico-mesh-min.css", target="_blank") chico-mesh-min.css
	li
		strong Development 
		|  (Uncompressed): 
		a(href="/versions/latest/chico-mesh.css", target="_blank") chico-mesh.css
p
	| See the 
	a(href="/guides/how-to-use-the-grids") how to use the grids
	|  tutorial to get more details.

h3#fluid Fluid layouts
ul.grid_templates
	li.ch-g1-3
		.ch-container
			a(href="/mesh/demos/fluid-2columns-leftsidebar.html", target="blank")
				img(src="src/assets/layouts/fluid-2columns-leftsidebar.png", width="200", height="150", alt="Fluid, 2 Columns, left sidebar")
			p.more
				a(href="/mesh/demos/fluid-2columns-leftsidebar.html", target="blank") See a demo
				|  | 
				a(href="/mesh/download/fluid-2columns-leftsidebar.zip") Download template
	li.ch-g1-3
		.ch-container
			a(href="/mesh/demos/fluid-2columns-rightsidebar.html", target="blank")
				img(src="src/assets/layouts/fluid-2columns-rightsidebar.png", width="200", height="150", alt="Fluid, 2 Columns, right sidebar")
			p.more
				a(href="/mesh/demos/fluid-2columns-rightsidebar.html", target="blank") See a demo
				|  |
				a(href="/mesh/download/fluid-2columns-rightsidebar.zip") Download template
	li.ch-g1-3
		.ch-container
			a(href="/mesh/demos/fluid-3columns.html", target="blank")
				img(src="src/assets/layouts/fluid-3columns.png", width="200", height="150", alt="Fluid, 3 Columns")
			p.more
				a(href="/mesh/demos/fluid-3columns.html", target="blank") See a demo
				|  |
				a(href="/mesh/download/fluid-3columns.zip") Download template

h3#elastic Elastic layouts
ul.grid_templates
	li.ch-g1-3
		.ch-container
			a(href="/mesh/demos/elastic-2columns-leftsidebar.html", target="blank")
				img(src="src/assets/layouts/elastic-2columns-leftsidebar.png", width="200", height="150", alt="Elastic, 2 Columns, left sidebar")
			p.more
				a(href="/mesh/demos/elastic-2columns-leftsidebar.html", target="blank") See a demo
				|  |
				a(href="/mesh/download/elastic-2columns-leftsidebar.zip") Download template
	li.ch-g1-3
		.ch-container
			a(href="/mesh/demos/elastic-2columns-rightsidebar.html", target="blank")
				img(src="src/assets/layouts/elastic-2columns-rightsidebar.png", width="200", height="150", alt="Elastic, 2 Columns, right sidebar")
			p.more
				a(href="/mesh/demos/elastic-2columns-rightsidebar.html", target="blank") See a demo
				|  |
				a(href="/mesh/download/elastic-2columns-rightsidebar.zip") Download template
	li.ch-g1-3
		.ch-container
			a(href="/mesh/demos/elastic-3columns.html", target="blank")
				img(src="src/assets/layouts/elastic-3columns.png", width="200", height="150", alt="Elastic, 3 Columns")
			p.more
				a(href="/mesh/demos/elastic-3columns.html", target="blank") See a demo
				|  |
				a(href="/mesh/download/elastic-3columns.zip") Download template
.clearfix

h3#showroom Grids showroom

.ch-g1
	.ch-box 1/1

.ch-g1-2
	.ch-box.ch-leftcolumn 1/2
.ch-g1-2
	.ch-box.ch-rightcolumn 1/2

.ch-g1-3
	.ch-box.ch-leftcolumn 1/3
.ch-g1-3r
	.ch-box.ch-centercolumn 1/3
.ch-g1-3
	.ch-box.ch-rightcolumn 1/3

.ch-g1-4
	.ch-box.ch-leftcolumn 1/4
.ch-g1-4
	.ch-box.ch-centercolumn 1/4
.ch-g1-4
	.ch-box.ch-centercolumn 1/4
.ch-g1-4
	.ch-box.ch-rightcolumn 1/4

.ch-g1-5
	.ch-box.ch-leftcolumn 1/5
.ch-g1-5
	.ch-box.ch-centercolumn 1/5
.ch-g1-5
	.ch-box.ch-centercolumn 1/5
.ch-g1-5
	.ch-box.ch-centercolumn 1/5
.ch-g1-5
	.ch-box.ch-rightcolumn 1/5

.ch-g1-6
	.ch-box.ch-leftcolumn 1/6
.ch-g1-6
	.ch-box.ch-centercolumn 1/6
.ch-g1-6
	.ch-box.ch-centercolumn 1/6
.ch-g1-6
	.ch-box.ch-centercolumn 1/6
.ch-g1-6
	.ch-box.ch-centercolumn 1/6
.ch-g1-6r
	.ch-box.ch-rightcolumn 1/6

.ch-g1-8
	.ch-box.ch-leftcolumn 1/8
.ch-g1-8
	.ch-box.ch-centercolumn 1/8
.ch-g1-8
	.ch-box.ch-centercolumn 1/8
.ch-g1-8
	.ch-box.ch-centercolumn 1/8
.ch-g1-8
	.ch-box.ch-centercolumn 1/8
.ch-g1-8
	.ch-box.ch-centercolumn 1/8
.ch-g1-8
	.ch-box.ch-centercolumn 1/8
.ch-g1-8
	.ch-box.ch-rightcolumn 1/8

.ch-g1-10
	.ch-box.ch-leftcolumn 1/10
.ch-g1-10
	.ch-box.ch-centercolumn 1/10
.ch-g1-10
	.ch-box.ch-centercolumn 1/10
.ch-g1-10
	.ch-box.ch-centercolumn 1/10
.ch-g1-10
	.ch-box.ch-centercolumn 1/10
.ch-g1-10
	.ch-box.ch-centercolumn 1/10
.ch-g1-10
	.ch-box.ch-centercolumn 1/10
.ch-g1-10
	.ch-box.ch-centercolumn 1/10
.ch-g1-10
	.ch-box.ch-centercolumn 1/10
.ch-g1-10
	.ch-box.ch-rightcolumn 1/10

.ch-g4-10
	.ch-box.ch-leftcolumn 4/10
.ch-g3-10
	.ch-box.ch-centercolumn 3/10
.ch-g2-10
	.ch-box.ch-centercolumn 2/10
.ch-g1-10
	.ch-box.ch-rightcolumn 1/10

.ch-g3-8
	.ch-box.ch-leftcolumn 3/8
.ch-g2-8
	.ch-box.ch-centercolumn 2/8
.ch-g3-8
	.ch-box.ch-rightcolumn 3/8

.ch-g1-3
	.ch-box.ch-leftcolumn 1/3
.ch-g2-3
	.ch-box.ch-rightcolumn 2/3

.ch-g1-4
	.ch-box.ch-leftcolumn 1/4
.ch-g3-4
	.ch-box.ch-rightcolumn 3/4

.ch-g1-5
	.ch-box.ch-leftcolumn 1/5
.ch-g4-5
	.ch-box.ch-rightcolumn 4/5

.ch-g1-6
	.ch-box.ch-leftcolumn 1/6
.ch-g5-6
	.ch-box.ch-rightcolumn 5/6

.ch-g1-8
	.ch-box.ch-leftcolumn 1/8
.ch-g7-8
	.ch-box.ch-rightcolumn 7/8

.ch-g1-10
	.ch-box.ch-leftcolumn 1/10
.ch-g9-10
	.ch-box.ch-rightcolumn 9/10

.ch-g1
	.ch-box 1/1