
.ch-g1
  
  .main
    h2 Support.
    p.container
      | Hi! Having some problems eh? Well, in this page you will find 
      | a Frequently asked question section, with a lot of awnsers. If
      | need to make a new one, feel free to do so in our google group
      | page, or a simple twitt to 
      a(href="http://twitter.com/#!/chicoui") @chicoui
      |.
    
  .ch-g1-2
    h3 FAQ.
    ol.container
      li 
        h4 This isn't working...
        p If nothing run like it should, try this checklist:
        ul
          li 
            | Have you installed Chico?
            a(href='/how-to/install') See how
            |.
          li Have you installed Chico's dependencies?
          li Are you sure you are editing the right file?
          li 
      li 
        h4 How can I validate two fields at once?
        p 
        | The fastest way is using a Custom validator, there is other 
        | way by extending some components, but let's start with the 
        | easy first, follow this guide: 
        a(href="/how-to/validate-two-fields-at-once") How-to validate two fields like one
        |.
      li 
        h4 How can I get in touch with you guys?
        p You can reach us trought Github, Twitter, Facebook or by email.


  .ch-g1-2
    h3 Report a bug. 
    form
      fieldset.container
        ul
          li
            label Version: 
              input(value='v0.5.6')
          li
            label Describe your problem:
              textarea
              
          p.actions
            input.btn.secondary.skin(type='submit',value='Report')

p
hr.clearfix