h1
	|Form 
	small (Mobile)
p.updated
	| Documentation updated on 
	data July 12nd
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#demo") 1 Demo
		dt
			a(href="#markup") 2 Markup
		dt
			a(href="#classnames") 3 Classnames
		dt
			a(href="#overview") 4 Overview

h3#demo Demo
.mobile-landscape
	iframe(src="/mobile/demos/form")

h4#snippet Code snippet of demo
pre
	| <form class="ch-form ch-box" action="./form" method="GET">
	| 	<p class="ch-form-row">
	| 		<label for="text">E-mail or nickname:</label>
	| 		<input id="text" type="text" />
	| 	</p>
	| 	<p class="ch-form-row">
	| 		<label for="text">Password:</label>
	| 		<input id="email type="password" />
	| 	</p>
	| 	<p>
	| 		<input class="ch-btn ch-btn-big" type="submit" value="Sign in" />
	| 	</p>
	| </form>

h3#markup Markup
p
	| Form needs some CSS classes and a specific markup to view correctly. The classes provides styles for text inputs, select, textareas, radio buttons and checkboxes, and buttons.
p
	| A form contains input elements like text fields, checkboxes, radio-buttons, submit buttons and more (select lists, textareas, fieldsets, legends, and label elements).

a.more(href="/static/demos/mobile-form.html", target="_blank") See a complete demo


h3#classnames Classnames

ul.ch-list
	li
		code ch-form
		| : Basic styles.
	li
		code ch-form-row
		| : Inputs and labels wrappers.
	li
		code ch-form-required
		| : Wrappers that have required fields.
	li
		code ch-form-disabled
		| : Wrappers that have disabled fields.
	li
		code ch-form-subtitle
		| : Wrappers that have a radio buttons or checkboxes list.
	li
		code ch-form-hint
		| : Hint or help messages.
	li
		code ch-form-options
		| : Wrappers that have a radio buttons or checkboxes list.
	li
		code ch-form-ico
		| : Wrappers that have icons.
	li
		code ch-form-select-multiple
		| : Select with multiple attribute.

h3#overview Overview
a.more(href="/static/demos/mobile-form.html", target="_blank") See a complete demo