h1
	|Layer 
	small (Mobile)
p.updated
	| Documentation updated on 
	data July 12nd
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#description") 1 Description
		dt
			a(href="#demo") 2 Demo
		dt
			a(href="#snippet") 3 Code snippet
		dt
			a(href="#instance") 4 Instance component
		dt
			a(href="#configuration") 5 Configuration
		dt
			a(href="#basics") 6 Basics
		dd
			dl
				dt
					a(href="#show-n-hide") 6.1 Show and hide
		dt
			a(href="#events") 7 Events

h3#description Description
p
	| The Layer widget gives rich information about an element on the screen.

h3#demo Demo
.mobile-landscape
	iframe(src="/mobile/demos/layer")

h3#snippet Code snippet
pre
	| <p id="example">Click me to toggle</p>


h3#instance Instance component
p	
	| This is the way to create a new Layer:
pre
	| var foo = $("#example").layer();


!=partial("mobile/includes/configuration")


h3#basics Basics

h4#show-n-hide Show and hide
p
	| The Layer exposes some public methods called 
	code show
	|  and 
	code hide
	| , both allows to manage the Layer's behavior programmatically. Something like this:
pre
	| foo.show(); // Shows the layer
	| foo.hide(); // Hides the layer

!=partial("mobile/includes/events")
!=partial("mobile/includes/keep-reading")