h3#configuration Configuration
p
	| Any widget can be configurated through parameters written in 
	a(href="http://json.org/", target="_blank") JSON
	| . Here is an example:
pre
	|var foo = $("#example").#{camelCase}({
	| 	"bar": foobar,
	| 	"baz": quux
	| });
p
	| You can see the complete list of parameters in 
	a(href="/api/mobile/#{mobile.version}/symbols/ch.#{capital}.html#configuration") #{friendly} API documentation
	| .