
.ch-g1

	.ch-g1-4
		h3 Demos
		ul.container
			- each item in demos
				li
					a(href='#{item.href}') #{item.label}

		h3 How-to...
		ul.container
			- each item in howtos 
				li
					a(href='#{item.href}') #{item.label}
					
	.ch-g3-4
		h2 Form
		p.container
			| The tooltip component is a member of 
			a(href='/api/symbols/ch.Floats.html') Floats
			|  familiy. Give more information about an UI element on the screen.
			| Hold the mouse over the loading image for a few seconds:
		div.box
			div.loading(title="Please wait a few minutes while we process your request.")
		p.container
			| As any Floats children, the Tooltip has a few uses cases you can use to modifiy and manipulate
			| its content, its size and positioning.

		pre.code
			| var myModal = $("#modal").modal({
			| 	content:"<p>This is a modal window with static content.</p>"
			| });

		a#change-content
		h3 Is the content boring? Change it!
		div.container 		p
			| We'll change the content using, as setter, the
			a(href='/api/symbols/ch.Modal.html#.content') content()
			|	method:
		pre.code myModal.content("New content for myModal, using the content() method.");

		a#new-content
		h3 New content!
		div.container
		p Now, if we use the method content as getter, it returns:
		pre.code myModal.content(); // returns "New content for myModal, using the content() method."
		p This is simple, therefore you can try and change the modal window's content on your projects.

		a#examples
		h3 Examples
		div.container
			ul
			li
				a(href='http://www.jquery.com') jQuery JavaScript Library.
			li
				a(href='http://www.dillerdesign.com/experiment/DD_belatedPNG',title='PNG Support for old browsers.') DD_belatedPNG.
			li
				a(href='/how-to/browser-sniffing') Conditional comments.

.clearfix

script
	$(".loading").tooltip();