/* Elastic Layout: 2 columns, left fixed sidebar */

.ch-fixed-sidebar {
	float: left;
	width: 290px; /* defines fixed column width */
}	

.ch-left.ch-fixed-sidebar {
	margin: 0px 10px 0px 0px; /* margin-right, gutter */
}

.ch-right.ch-elastic-content {
	margin: 0px 0px 0px 300px; /* same as width, plus gutter */
}

/* Mobile */
@media all and (max-width: 480px) {
	.ch-right.ch-elastic-content,
	.ch-left.ch-fixed-sidebar {
		float: none;
		width: 100%;
		margin: 0;
	}

	.ch-left.ch-fixed-sidebar {
		margin: 10px 0;
	}
}


/* ------------------------------------------------------- *
 * --- just to highlight columns - you can delete these -- *
 * -------------    use chico.css for styles   ----------- *
 * ------------------------------------------------------- */

body {
	color: #333333;
    font: 13px/20px Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

.ch-box {
	border: 1px solid #ccc;
	padding: 10px;
}

.ch-fixed-sidebar .ch-box, .ch-elastic-content .ch-box { 
	height: 400px;
}

.ch-fixed-sidebar .ch-box {
	background-color: #ccc;
}

.ch-header {
	height: 50px;
	padding: 20px 10px;
	background: #eee;
	margin: 10px auto;
}

.ch-footer {
	clear:both;
	text-align: center;
	margin: 10px auto;
	background: #eee;
	
}