style p {margin-bottom:10px}

p
	input.ch-btn.ch-btn-big(type="button", value="Big button")
p
	input.ch-btn(type="button", value="Default button")
p
	input.ch-btn.ch-btn-small(type="button", value="Small button")

p
	input.ch-btn-skin.ch-btn-big(type="button", value="Big button with skin")
p
	input.ch-btn-skin(type="button", value="Default button with skin")
p
	input.ch-btn-skin.ch-btn-small(type="button", value="Small button with skin")

p
	input.ch-btn-action.ch-btn-big(type="button", value="Big button for actions")
p
	input.ch-btn-action(type="button", value="Default button for actions")
p
	input.ch-btn-action.ch-btn-small(type="button", value="Small button for actions")

p
	input.ch-btn.ch-btn-big.ch-btn-disabled(type="button", value="Big button disabled")
p
	input.ch-btn.ch-btn-disabled(type="button", value="Default button disabled")
p
	input.ch-btn.ch-btn-small.ch-btn-disabled(type="button", value="Small button disabled")