h1 Sign in example

form.ch-form.ch-box(action="./form", method="GET")
	p.ch-form-row
		label(for="text") E-mail or nickname:
		input#text(type="text")
	p.ch-form-row
		label(for="text") Password:
		input#email(type="password")
	p
		input.ch-btn.ch-btn-big(type="submit", value="Sign in")