style
	.ch-header.customized1 {
		background-color: #74B042;
		background-image: -webkit-linear-gradient(#A2D37A, #76BA29);
		background-image: -moz-linear-gradient(#A2D37A, #76BA29);
		background-image: -o-linear-gradient(#A2D37A, #76BA29);
		background-image: linear-gradient(#A2D37A, #76BA29);
		border-bottom: none;
	}
	
	.ch-header.customized1 h1 {
		text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	}
	
	.ch-header.customized2 {
		background-color: #DF0000;
		background-image: -webkit-linear-gradient(#DF0000, #9E0000);
		background-image: -moz-linear-gradient(#DF0000, #9E0000);
		background-image: -o-linear-gradient(#DF0000, #9E0000);
		background-image: linear-gradient(#DF0000, #9E0000);
		border-bottom: 2px ridge #AE1E1D;
		color: #fee;
	}
	
	.ch-header.customized2 h1 {
		text-shadow: none;
	}

header.ch-header.customized1
	h1 Customized navigation
	nav
		a.ch-btn-header.ch-action-left(href="#") Cancel
		a.ch-btn-header.ch-action-right(href="#") Accept

header.ch-header.customized2
	h1 Customized navigation
	nav
		a.ch-btn-header.ch-action-right(href="#") Recommend