header.ch-header
	h1 Main navigation
	nav
		a.ch-btn-header.ch-action-left(href="#") Back

header.ch-header-skin
	h1 Navigation with skin
	nav
		a.ch-btn-header.ch-action-left(href="#") Cancel
		a.ch-btn-header.ch-action-right(href="#") Accept