style
	li {margin:10px 0}

.ch-g1-2
	ul
		li
			i.ch-icon-search ch-icon-search
		li
			i.ch-icon-heart ch-icon-heart
		li
			i.ch-icon-star ch-icon-star
		li
			i.ch-icon-star-empty ch-icon-star-empty
		li
			i.ch-icon-user ch-icon-user
		li
			i.ch-icon-th-large ch-icon-th-large
		li
			i.ch-icon-th ch-icon-th
		li
			i.ch-icon-th-list ch-icon-user
		li
			i.ch-icon-ok ch-icon-ok
		li
			i.ch-icon-remove ch-icon-remove
		li
			i.ch-icon-zoom-in ch-icon-zoom-in
		li
			i.ch-icon-zoom-out ch-icon-zoom-out
		li
			i.ch-icon-cog ch-icon-cog
		li
			i.ch-icon-trash ch-icon-trash
		li
			i.ch-icon-time ch-icon-time
		li
			i.ch-icon-repeat ch-icon-repeat
		li
			i.ch-icon-refresh ch-icon-refresh
		li
			i.ch-icon-lock ch-icon-lock
		li
			i.ch-icon-print ch-icon-print
		li
			i.ch-icon-camera ch-icon-camera
		li
			i.ch-icon-pencil ch-icon-pencil
		li
			i.ch-icon-map-marker ch-icon-map-marker
		li
			i.ch-icon-move ch-icon-move
		li
			i.ch-icon-chevron-left ch-icon-chevron-left
		li
			i.ch-icon-chevron-right ch-icon-chevron-right
		li
			i.ch-icon-plus-sign ch-icon-plus-sign
		li
			i.ch-icon-minus-sign ch-icon-minus-sign
		li
			i.ch-icon-remove-sign ch-icon-remove-sign
		li
			i.ch-icon-ok-sign ch-icon-ok-sign
		li
			i.ch-icon-question-sign ch-icon-question-sign
		li
			i.ch-icon-info-sign ch-icon-info-sign
		li
			i.ch-icon-ban-circle ch-icon-ban-circle
.ch-g1-2
	ul
		li
			i.ch-icon-arrow-left ch-icon-arrow-left
		li
			i.ch-icon-arrow-right ch-icon-arrow-right
		li
			i.ch-icon-arrow-up ch-icon-arrow-up
		li
			i.ch-icon-arrow-down ch-icon-arrow-down
		li
			i.ch-icon-plus ch-icon-plus
		li
			i.ch-icon-minus ch-icon-minus			
		li
			i.ch-icon-exclamation-sign ch-icon-exclamation-sign
		li
			i.ch-icon-warning-sign ch-icon-warning-sign
		li
			i.ch-icon-calendar ch-icon-calendar
		li
			i.ch-icon-comment ch-icon-comment
		li
			i.ch-icon-chevron-up ch-icon-chevron-up
		li
			i.ch-icon-chevron-down ch-icon-chevron-down
		li
			i.ch-icon-key ch-icon-key
		li
			i.ch-icon-comments ch-icon-comments
		li
			i.ch-icon-unlock ch-icon-unlock
		li
			i.ch-icon-wrench ch-icon-wrench
		li
			i.ch-icon-group ch-icon-group
		li
			i.ch-icon-copy ch-icon-copy
		li
			i.ch-icon-paper-clip ch-icon-paper-clip
		li
			i.ch-icon-reorder ch-icon-reorder
		li
			i.ch-icon-truck ch-icon-truck
		li
			i.ch-icon-caret-down ch-icon-caret-down
		li
			i.ch-icon-caret-up ch-icon-caret-up
		li
			i.ch-icon-caret-left ch-icon-caret-left
		li
			i.ch-icon-caret-right ch-icon-caret-right
		li
			i.ch-icon-sort ch-icon-sort
		li
			i.ch-icon-sort-down ch-icon-sort-down
		li
			i.ch-icon-sort-down ch-icon-sort-up
		li
			i.ch-icon-envelope-alt ch-icon-envelope-alt
		li
			i.ch-icon-undo ch-icon-undo
		li
			i.ch-icon-comment-alt ch-icon-comment-alt
		li
			i.ch-icon-comments-alt ch-icon-comments-alt