style
	.ninja-demo {
		position: relative;
	}

	.ninja-demo[class*="ch-icon-"]::before {
		position: absolute;
		top: 2px;
		left: 10px;
		color: #fff;
		font-size: 1em;
	}

	.ninja-demo .ch-btn {
		text-indent: 12px;
	}

span.ninja-demo.ch-icon-pencil
	button.ch-btn Edit preferences