!!! 5
//[if IEMobile 7]
	html.no-js.iem7(lang="en")
//[if (gt IEMobile 7)|!(IEMobile)] <!
html.no-js(lang="en")
	//<![endif]
	head
		script
		meta(charset="utf-8")
		title Chico Mobile Demo

		meta(name="HandheldFriendly", content="True")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="cleartype", content="on")
		
		link(rel="stylesheet", href="/versions/latest/chico-mesh-min.css")
		link(rel="stylesheet", href="/versions/mobile/latest/chico-mobile.css")
		
		style html, body {overflow-x:hidden}
	body
		div(data-page="index", role="region")
			!= body
		
		script(src="/versions/mobile/latest/zepto.js")
		script(src="/versions/mobile/latest/chico-mobile.js")
		
		- var scriptGet = script("get")
		- if (scriptGet.length > 0)
			- each i in scriptGet
				script(src='#{i}')

		- var scriptCode = script("code")
		-if (scriptCode.length > 0)
			script!= scriptCode.join("")