ul.ch-list-options
	li
		i.ch-icon-heart
		a(href="#") Multiline text. This is an example that shows how a works a long text inside a list options.

	li
		i.ch-icon-heart
		a.ch-ellipsis(href="#") Heart. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. adipiscing. Donec sit amet purus in sapien luctus sodales adipiscing.

	li
		a(href="#") No icon