style ul {margin-bottom:15px}

.ch-g1-3
	h3 Unordered
	ul.ch-list
		li
			a(href="#") Alpha
		li
			a(href="#") Beta
		li
			a(href="#") Gamma
		li Delta
		li Epsilon

.ch-g1-3
	h3 Ordered
	ol.ch-list
		li
			a(href="#") Alpha
		li
			a(href="#") Beta
		li
			a(href="#") Gamma
		li Delta
		li Epsilon

.ch-g1-3
	h3 Unstyled
	ul
		li
			a(href="#") Alpha
		li
			a(href="#") Beta
		li
			a(href="#") Gamma
		li Delta
		li Epsilon