ul#example
	li
		h3 List Menu
		ul.ch-list-menu
			li
				a(href="#") Alpha
			li
				a(href="#") Beta
			li
				a(href="#") Gamma
	li
		h3 List
		ul.ch-list
			li Alpha
			li Beta
			li Gamma
	li
		a(href="#") A simple anchor
	li
		h3 Plain text
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ante dolor, commodo id mattis at, vulputate pharetra velit. Vestibulum pretium magna sed eros bibendum feugiat. Aenean at orci metus, nec venenatis dui. Aliquam a augue neque, non ullamcorper tellus. Curabitur bibendum, eros eget luctus dictum, sapien est lacinia turpis, et tristique elit turpis at ligula. Pellentesque placerat ornare turpis. Mauris nec quam et libero adipiscing fringilla at pellentesque arcu.

- script("code", '$("#example").menu();')