table.ch-datagrid(summary="List of charges")
	thead
		tr
			th(scope="col") Operation
			th(scope="col") Seller
	tbody
		tr
			td
				a(href="#") Sale
			td
				a(href="#") mail@example.com
		tr
			td
				a(href="#") Purchase
			td
				a(href="#") mail@example.com
		tr
			td
				a(href="#") Sale
			td
				a(href="#") mail@example.com