table.ch-datagrid(summary="List of charges")
	thead
		tr
			th(scope="col") Operation
			th.ch-datagrid-selected(scope="col")
				| Seller
				span.ch-datagrid-asc (asc)
	tbody
		tr
			td
				a(href="#") Sale
			td
				a(href="#") mail@example.com
		tr
			td
				a(href="#") Purchase
			td
				a(href="#") mail@example.com
		tr
			td
				a(href="#") Sale
			td
				a(href="#") mail@example.com