style .ch-box-lite {position:relative; overflow:hidden; padding:50px}

.ch-box-container
	p
		| Inline transition: 
		span.ch-loading Loading

.ch-box-lite
	.ch-loading-wrap
		p.ch-loading-text Loading... a block transition